<!-- Show personnel for each reason of absence-->
<div class="ui center aligned grid">
    <div class="fourteen wide column">
        <div class="ui breadcrumb">
            <a class="section" href="http://localhost:8000/home/#">Home</a>
            <i class="right angle icon divider"></i>
            <a class="section" href="http://localhost:8000/dashboard/#">Dashboard</a>
            <i class="right angle icon divider"></i>
            <div class="active section">Absentees View</div>
          </div>
    </div>
    <div class="fourteen wide column">
        <div class="ui large header">
            <h1>Absentees in __ Company, __ Unit</h1>
        </div>
    </div>
    

    <div class="ui divider"></div>

    <div class="fourteen wide column">
        <div class="ui basic violet inverted segment">
            <!--For person in personnel-->
                <!--create person card and button-->
            On MC - Number ,
            below show the personnel names
        </div>
    </div>

    <div class="fourteen wide column">
        <a class="ui orange button" href="http://localhost:8000/dashboard/#">Back</a>
    </div>
</div>