{% load static %}
<!DOCTYPE html>
<html>
<head>

  
<link rel="stylesheet" href="{% static 'attendance/SemanticAssets/semantic/distcopy/semantic.css/' %} ">
<link rel="stylesheet" href="{% static 'attendance/SemanticAssets/semantic/distcopy/icon.css/' %} ">
<link rel="stylesheet" type="text/css" href="{% static 'attendance/CSS/master.css'%}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

<title>Reveille</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Parade State Compiler">

<!-- Style Overides -->
<style>
  body {
    /* ArsenicColor */
    background-color: #0C1430;
    color: black;
  }

  #HomeHeader, #HeaderSum {
    background-color: none;

    color: white;
  }

  #SummaryHeader {
    background-color: none;
    color: gray;
  }

  

  #OverviewTab, #SummaryTab, #LogTab {
    border-style: none;
  }

</style>

</head>

<body>

  

{% block content %}{% endblock %}




  <!-------- Scripts -------->

  <!-- Default Semantic -->

    <script>

      $('.ui.dropdown')
      .dropdown()
      ;

      $('.menu .item')
      .tab()
      ;

      $('#AddCardToggle').click(function(){ $('.ui.dimmer.custom').dimmer("show") })
      ;

      $('#AddCardToggleMobile').click(function(){ $('.ui.dimmer.custom').dimmer("show") })
      ;

      $('#AddCardSave').click(function(){ $('.ui.dimmer.custom').dimmer("hide") })
      ;

      $('#AddCardCancel').click(function(){ $('.ui.dimmer.custom').dimmer("hide") })
      ;

      $('#AddCardtoggle').popup()
      ;
      

    </script>



  <!-- Local Self-written -->
  

    <!-- 
    Updating URL from DatePicker, 
    to query DB for specific parade on specific date
    -->
    <script>

      var datePickEntBtn = document.getElementById('DatePickEnter');
      datePickEntBtn.addEventListener('click',UpdateBackUrl);

      function UpdateBackUrl(){
        
        var datepickerValue = document.getElementById("MyDate").value;
        var paradeChoice = document.getElementById('ParadeChoice').value;

        location.href = "parade/" + "?date=" + datepickerValue + "&time_of_day=" + paradeChoice + "/" ;


        console.log("url changed");

        
      }
      

    </script>


    <!--Elements after picking parade from DatePicker-->
    <script>


      
      var urlNow = window.location.search;
      console.log(urlNow);
      
      //Once url is not ...home/... this code block will run, which toggles the cardholder
      //next is to take context from html side, put into js variable, e.g var p = doc.getelebyidinnerhtml... -->48SAR A COy Parade,
      // for personnel in p :
      // if personnel.status != null {
      // for eachdog in personnel.status , iterate cards , use js to create html chunks within cardholder segments
      // } can do a settimemout to iterate cards

      // search personnel will then search the current html onsite 
      // add card will be a form add to db, and then rerun chunk of code of iterating, without timemout ( maybe code it to only timedelay the last one)
      if (urlNow != "") {
        console.log("url live");
        document.getElementById("CardHolders").classList.toggle('active');
        document.getElementById("OverviewSearch").classList.remove('disabled');
        document.getElementById("NoDocumentPage").className="Default-Inactive";
      }

      else {
        console.log("close document none print cards")
      
      }
  
    </script>



    <!-- For Card Dimmer  -->
    <script>

      var saveBtn = document.getElementById('AddCardSave');
      var selectMedical = document.getElementById('MedStat');
      var selectActivity = document.getElementById('Activity');

      var selectMedicalVal = document.getElementById('MedStat').value;
      var selectActivityVal = document.getElementById('Activity').value;

      function ToggleCardSaveBtn(selectActivityVal,selectMedicalVal){

        var saveBtn = document.getElementById('AddCardSave');
        var selectMedical = document.getElementById('MedStat');
        var selectActivity = document.getElementById('Activity');

        var selectMedicalVal = document.getElementById('MedStat').value;
        var selectActivityVal = document.getElementById('Activity').value;

        

        if (selectMedicalVal == "NIL" && selectActivityVal == "NIL" ) {
          console.log('NIL choices selected');
          saveBtn.classList.remove("teal");
          saveBtn.classList.add("disabled");
          
        }
        
        else if (selectMedicalVal == "NIL" && selectActivityVal == "" ) {
          console.log('NIL choices selected');
          saveBtn.classList.remove("teal");
          saveBtn.classList.add("disabled");
        }

        else if (selectMedicalVal == "" && selectActivityVal == "" ) {
          console.log('NIL choices selected');
          saveBtn.classList.remove("teal");
          saveBtn.classList.add("disabled");
        }

        else if (selectMedicalVal == "" && selectActivityVal == "NIL" ) {
          console.log('NIL choices selected');
          saveBtn.classList.remove("teal");
          saveBtn.classList.add("disabled");
        }

        else {
          saveBtn.className = "ui teal button";
        }
      }

      
      selectMedical.addEventListener('change',ToggleCardSaveBtn);
      selectActivity.addEventListener('change',ToggleCardSaveBtn);
      
      // <!--Reset Cancel Button-->
      function resetInput(value) {
        var selectMedicalVal = document.getElementById('MedStat').value;
        var selectActivityVal = document.getElementById('Activity').value;
        selectMedicalVal = "";
        selectActivityVal ="";
        $('form').form('clear');
      }

      var cancelBtn = document.getElementById("AddCardCancel");
      cancelBtn.addEventListener('click', resetInput);


    </script>

   
    
  


</body>

</html>
