{% extends "attendance/base.html" %}

{% block content %}
<!--Body-->



  <!-- Dimmer for whole page-->
  <div class="ui page dimmer custom">
    <div class="content">
      <h2 class="ui inverted icon header">
        Add a New Card
      </h2>
      <div class="container">
        <div class="ui raised card">
          
          <div class="content">
            <div class="ui centered grid">

              <div class="row">
                
                  
                  <div class="ui fluid search">
                    <div class="ui icon input">
                      <input class="fluid prompt" type="text" placeholder="Personnel...">
                        <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                  </div>
                  
                
              </div>

              <div class="row">
                <div class="column">
                  <a class="ui fluid label" id="Search Result">
                    <i class="id card icon"></i>
                    Search Result
                  </a>
                </div>

              </div>

              <div class="row">
                <div class="column">
                  <div class="ui fluid input">
                    <input type="text" placeholder="Comments">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="column">
                <div class="ui form">
                  <div class="field">
                    <select name="MedicalStatus" class="ui fluid dropdown" id="MedStat">
                      <option value="">Medical Status</option>
                      <option value="MA">MA</option>
                      <option value="FFI">FFI</option>
                      <option value="SO">Sent Out</option>
                      <option value="MC">MC</option>
                      <option value="NIL">-</option>
                    </select>
                  </div>
                </div>
                </div>
              </div>

              <div class="row">
                <div class="column">
                  <div class="ui form">
                    <div class="field">
                      <select name="Activity" class="ui fluid dropdown" id="Activity">
                        <option value="">Activity</option>
                        <option value="OutStn">Outstationed</option>
                        <option value="Off">Off</option>
                        <option value="Leave">On-Leave</option>
                        <option value="Course">On-Course</option>
                        <option value="NIL">-</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          
          <div class="extra content"> 
            <button class="ui button" id="AddCardSave">Save</button>
            <button class="ui button" id="AddCardCancel">Cancel</button>
          </div>

        </div>
        
      </div>

      
    </div>
  </div>

  <!-- From Headers to Datepicker -->
  <div class="ui relaxed centered grid">

      <!-- Headings -->
      <div class="row">
        <div>
          <a href="http://localhost:8000/troll/#"><h1 class="ui center aligned masssive header" id="HomeHeader">
            Reveille
          </h1></a>
        </div>
      </div>

      <div class="row">
        <div>
        <h2 class="ui center aligned medium header">All your parades in one place.</h2>
        </div>
      </div>

      <!-- MenuBar -->

      <div class="fourteen wide column">
        <div class="ui fluid two item huge raised menu">
          <a class="active blue item">
            Home
            </a>
          <a class="item" href="http://localhost:8000/dashboard/#">Dashboard</a>
          
        </div>
      </div>


    <!-- Datepicker Block -->

    <div class="fourteen wide column" id="DatePickRow">

    
      <div class="ui four column stackable grid">

        <div class="column">
          <div class="ui inverted teal segment" id="DatePickHead">
            <h3 class="ui center aligned header" id="DatePickSelect">Select Parade</h3>
          </div>
        </div>

        <div class="column">
        <div class="ui center aligned segment" id="DatePickSelectSegment">
          <div class="ui fluid input left icon">
            <i class="caret right icon"></i>
            <input type="date" id="MyDate">
          </div>
        </div>
        </div>


        <div class="column">
          <div class="ui center aligned segment" id="DatePickDropdown">

            <div class="ui form">
              <div class="field">
                <select name="ParadeChoice" class="ui fluid dropdown" id="ParadeChoice">
                  <option value="">Parade</option>
                  <option value="First">First</option>
                  <option value="Mid-Day">Mid-Day</option>
                  <option value="Last">Last</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui center aligned segment" id="DatePickEnter">
            <button class="ui fluid teal button" onclick="myFunction()">Enter</button>
          </div>
        </div>

      </div>


    </div>

  </div>


 <!-- Tabs & Cards -->
  <div class="container">
    <div class="ui center aligned grid">
      <div class="fourteen wide column">
        <div class="ui top attached tabular menu">
          <a class="active item" data-tab="first">Overview</a>
          <a class="item" data-tab="second">Summary</a>
          <a class="item" data-tab="third">Log</a>
        </div>

        <!--Overview Tab-->
        <div class="ui bottom attached active tab segment" data-tab="first" id="OverviewTab">
          <div class="ui centered stackable grid">

            <div class="computer only fifteen wide column">
              <div class="ui basic segment">
                <div class="ui disabled fluid category search " id="OverviewSearch">
                  <div class="ui icon input">
                    <input class="prompt" type="text" placeholder="Search personnel...">
                    <i class="search icon"></i>
                  </div>
                  <div class="results"></div>
                </div>
              </div>
              
            </div>

            <div class="computer only column">
              <div class="ui basic right aligned segment">
                <button class="ui green icon button" id="AddCardToggle" data-content="Add users to your feed">
                  <i class="user plus icon"></i>
                </button>
              </div>
            </div>

            <div class="tablet only mobile only eight wide column">
              <div class="ui center aligned basic segment">
                <div class="ui fluid category search">
                  <div class="ui icon input">
                    <input class="prompt" type="text" placeholder="Search personnel...">
                    <i class="search icon"></i>
                  </div>
                  <div class="results"></div>
                </div>
              </div>
              
            </div>

            <div class="tablet only mobile only eight wide column">
              <div class="ui basic segment">
                <button class="ui fluid green icon button" id="AddCardToggleMobile" data-content="Add users to your feed">
                  <i class="user plus icon"></i>
                </button>
              </div>
            
            </div>
            
          </div>

          <div class="ui placeholder basic segment"> 

            
            

            
              <!--Default page before entrance of data -->
              <div class="" id="NoDocumentPage">
                <div class="ui centered grid">
                  <div class="row">
                    <div class="ui icon header">
                      <i class="user secret icon"></i>
                        No documents are listed for this loser.
                    </div>
                  </div>
                </div>
              </div>


              <!--CardHolding, will have to do a loop to generate cards and each taking data from backend-->
              <div class="Default-Inactive" id="CardHolders">
                

                  
                  <!--Sample Cards-->
                  <!--Will ahve to html loop generate within ui rasied cards-->
                  <div class="ui raised four cards">
                    <div class="card">
                      <div class="content">
                        <div class="ui grid">
                          <div class="twelve wide column">
                            <div class="left aligned fluid header">
                              <h3>Ezekiel Ang</h3>
                            </div>
                            <div class="left aligned meta">
                              4SG (Dynamic Rank)
                            </div>
                          </div>
                          
                          <div class="four wide column">
                            <img class="right floated mini ui image" src="https://semantic-ui.com/images/avatar/large/jenny.jpg">
                          </div>
                        </div>
                        
                        <div class="ui basic segment">
                          <div class="description">
                            Chaokeng like fk since BMT until ORD everyday canteen break lepak rokok. (dynamic)
                          </div>
                        </div>
                        

                        
                        
                      </div>
                      <div class="extra content">
                        <div class="ui basic segment">
                          <div class="meta"> <!--Dynamic generation of labels according to DB-->
                            <a class="ui red label">MA</a>
                            <a class="ui yellow label">Platoon 1</a>
                            <a class="ui orange label">Unfit for duty</a>
                          </div>
                        </div>

                        <div class="four column ui grid">
                          <div class="column"><button class="ui olive circular icon button"><i class="phone icon"></i></button></div>
                          <div class="column"><button class="ui teal circular icon button"><i class="paper plane icon"></i></button></div>
                          <div class="column"><button class="ui green circular icon button"><i class="edit icon"></i></button></div>
                          <div class="column"><button class="ui red circular icon button"><i class="minus square icon"></i></button></div>
                        </div>
                      </div>
                    </div>
                                 
                    <div class="card">
                      <div class="content">
                        <div class="ui grid">
                          <div class="twelve wide column">
                            <div class="left aligned fluid header">
                              <h3>Wong Wei Bin</h3>
                            </div>
                            <div class="left aligned meta">
                              OC (Dynamic Rank)
                            </div>
                          </div>
                          
                          <div class="four wide column">
                            <img class="right floated mini ui image" src="https://semantic-ui.com/images/avatar/large/jenny.jpg">
                          </div>
                        </div>
                        
                        
                        
                        <div class="ui basic segment">
                          <div class="description">
                            ND Tank legendarily (dynamic)
                          </div>
                        </div>

                        
                        
                      </div>
                      <div class="extra content">
                        <div class="ui basic segment">
                          <div class="meta"> <!--Dynamic generation of labels according to DB-->
                            <a class="ui red label">MA</a>
                            <a class="ui violet label">Platoon 2</a>
                            <a class="ui teal label">OutStation</a>
                          </div>
                        </div>
                        <div class="four column ui grid">
                          <div class="column"><button class="ui olive circular icon button"><i class="phone icon"></i></button></div>
                          <div class="column"><button class="ui teal circular icon button"><i class="paper plane icon"></i></button></div>
                          <div class="column"><button class="ui green circular icon button"><i class="edit icon"></i></button></div>
                          <div class="column"><button class="ui red circular icon button"><i class="minus square icon"></i></button></div>
                        </div>
                      </div>
                  



                    </div>

                    <div class="card">
                      <div class="content">
                        <div class="ui grid">
                          <div class="twelve wide column">
                            <div class="left aligned fluid header">
                              <h3>Shao</h3>
                            </div>
                            <div class="left aligned meta">
                              CSM (Dynamic Rank)
                            </div>
                          </div>
                          
                          <div class="four wide column">
                            <img class="right floated mini ui image" src="https://semantic-ui.com/images/avatar/large/jenny.jpg">
                          </div>
                        </div>
                        
                        
                        
                        <div class="ui basic segment">
                          <div class="description">
                            4yr NS (dynamic)
                          </div>
                        </div>
                        
                        
                        
                      </div>
                      <div class="extra content">
                        <div class="ui basic segment">
                          <div class="meta"> <!--Dynamic generation of labels according to DB-->
                            <a class="ui red label">MA</a>
                            <a class="ui violet label">Platoon 2</a>
                            <a class="ui teal label">OutStation</a>
                          </div>
                        </div>
                        
                        
                        <div class="four column ui grid">
                          <div class="column"><button class="ui olive circular icon button"><i class="phone icon"></i></button></div>
                          <div class="column"><button class="ui teal circular icon button"><i class="paper plane icon"></i></button></div>
                          <div class="column"><button class="ui green circular icon button"><i class="edit icon"></i></button></div>
                          <div class="column"><button class="ui red circular icon button"><i class="minus square icon"></i></button></div>
                        </div>
                      </div>
                  



                    </div>

                    <div class="card">
                      <div class="content">
                        <div class="ui grid">
                          <div class="twelve wide column">
                            <div class="left aligned fluid header">
                              <h3>Yacob</h3>
                            </div>
                            <div class="left aligned meta">
                              P (Dynamic Rank)
                            </div>
                          </div>
                          
                          <div class="four wide column">
                            <img class="right floated mini ui image" src="https://semantic-ui.com/images/avatar/large/jenny.jpg">
                          </div>
                        </div>
                        
                        
                        
                        <div class="ui basic segment">
                          <div class="description">
                            Picture on Wall (dynamic)
                          </div>
                        </div>

                        
                        
                      </div>
                      <div class="extra content">
                        <div class="ui basic segment">
                          <div class="meta"> <!--Dynamic generation of labels according to DB-->
                            <a class="ui red label">MA</a>
                            <a class="ui violet label">Platoon 2</a>
                            <a class="ui teal label">OutStation</a>
                          </div>
                        </div>
                        <div class="four column ui grid">
                          <div class="column"><button class="ui olive circular icon button"><i class="phone icon"></i></button></div>
                          <div class="column"><button class="ui teal circular icon button"><i class="paper plane icon"></i></button></div>
                          <div class="column"><button class="ui green circular icon button"><i class="edit icon"></i></button></div>
                          <div class="column"><button class="ui red circular icon button"><i class="minus square icon"></i></button></div>
                        </div>
                      </div>
                  



                    </div>

                    
                  </div>

                


              </div>
          </div>

        </div>

        <!--Summary Tab-->
        <div class="ui bottom attached tab segment" data-tab="second" id="SummaryTab">

          <!--First row -->
          
          <div class="ui center aligned grid">
            <div class="ten wide column">
              <div class="ui basic left aligned segment">
              <h1>Summary</h1>
              </div>
            </div>
            
            <div class="computer only four wide column">
              <div class="ui basic right aligned segment">
                <div class="ui left pointing dropdown link item">
                  <div>
                    <button class="ui center aligned button">Export</button>
                    
                  </div>
                  <div class="menu">
                    <div class="item">Whatsapp</div>
                    <div class="item">Telegram</div>
                    <div class="item">Sent Mail</div>
                    <div class="item">Drafts (143)</div>
                    <div class="divider"></div>
                    <div class="item">Save as pdf</div>
                    <div class="item">Options</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="mobile only tablet only four wide column">
              <div class="ui basic right aligned segment">
                <div class="ui right pointing dropdown link item">
                  <div class="">
                    <button class="ui center aligned button">Export</button>
                    
                  </div>
                  <div class="menu">
                    <div class="item">Whatsapp</div>
                    <div class="item">Telegram</div>
                    <div class="item">Sent Mail</div>
                    <div class="item">Drafts (143)</div>
                    <div class="divider"></div>
                    <div class="item">Save as pdf</div>
                    <div class="item">Options</div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <!--Summary Data-->
          <div class="ui center aligned grid">

            {% for eachparade in parade %}
            <div class="row">
              <div class="fourteen wide left aligned column">
                <div class="ui segment">
                  <h3>Total Strength: <span>{{ eachparade.total_strength }}</span></h3>
                </div>
              </div>
              </div>

            <div class="row">
              <div class="fourteen wide left aligned column">
                <div class="ui segment">
                  <h3>Current Strength: <span>{{ eachparade.personnel_strength }}</span></h3>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="fourteen wide left aligned column">
                <div class="ui segment">
                  <h3>Attend C: <span>Dynamic</span></h3>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="fourteen wide left aligned column">
                <div class="ui segment">
                  <h3>Medical Appointment: <span>Dynamic</span></h3>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="fourteen wide left aligned column">
                <div class="ui segment">
                  <h3>On Course: <span>Dynamic</span></h3>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="fourteen wide left aligned column">
                <div class="ui segment">
                  <h3>Outstationed: <span>Dynamic</span></h3>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="fourteen wide left aligned column">
                <div class="ui segment">
                  <h3>Dentention Barracks: <span>Dynamic</span></h3>
                </div>
              </div>
            </div>

            {% endfor %}

            <div class="ui hidden divider"></div>

            
          </div>
          
        </div>

        <!--Log Tab-->
        <div class="ui bottom attached tab segment" data-tab="third" id="LogTab">
          <div class="ui relaxed centered grid">
            <div class="row">
              <div><p>I took <span id="tdday2">the day</span> and <span id="PChoice"> your choice</span> from DB</p></div>
            </div>
            <div class="fourteen wide column">
              <div class="ui segment">
                <div class="ui active dimmer">
                  <div class="ui large text loader">Loading</div>
                </div>
                <p>The Recent Changes</p>
                <p>Lorem ISpum</p>
                <p>Coming Soon!</p>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>




  <!-- Footer -->

  <div class="ui centered grid">
  <div class="fourteen wide column">
  <div class="ui segment" >
    <div class="ui very relaxed centered grid">

      <div class="fourteen wide column">

        <div class="ui middle aligned animated list">
          <div class="item">
            <i class="question icon"></i>
            <div class="content">
              <div class="header">FAQ</div>
            </div>
          </div>
          <div class="item">
            <i class="file alternate icon"></i>
            <div class="content">
              <div class="header">Terms and Conditions</div>
            </div>
          </div>
          <div class="item">
            <i class="large envelope outline icon"></i>
            <div class="content">
              <div class="header">Contact our team</div>
            </div>
          </div>
        </div>

      </div>


    </div>

  </div>
  </div>
  </div>

  
  

  <!--Body Close-->

























{% endblock content %}
