<!--Expand Personnel Modal-->
<div class="ui modal EditPerMod">
    <div class="content">
        <div class="ui center aligned grid" id="perDetail">
            <div class="four wide left aligned column">
                <div id="NameView"></div>
                <div id="RankView"></div>
            </div>
            <div class="ten wide right aligned column">
                <div id="PlatoonView" class="ui large yellow label"></div>
            </div>
        </div>
        
        

        <div id="idView" class="hidden-form"></div>

        <div class="ui fluid form hidden-form" id="perDetailEdit">
            <form method="POST" action="">
                {% csrf_token %}
                <div class="field">
                    <h1><input type="text" class="ui input" id="PerFullName" value="" name="personName"></h1>
                </div>
                <div class="field">
                    <select name="personRank" class="ui fluid dropdown" id="PerRankEdit">
                        
                        <option value="">Rank</option>
                        <option value="REC">REC</option>
                        <option value="PTE">PTE</option>
                        <option value="LCP">LCP</option>
                        <option value="CPL">CPL</option>
                        <option value="CFC">CFC</option>

                        <option value="3SG">3SG</option>
                        <option value="2SG">2SG</option>
                        <option value="1SG">1SG</option>
                        <option value="SSG">SSG</option>
                        <option value="MSG">MSG</option>
                        <option value="3WO">3WO</option>
                        <option value="2WO">2WO</option>
                        <option value="1WO">1WO</option>
                        <option value="MWO">MWO</option>
                        <option value="SWO">SWO</option>
                        <option value="CWO">CWO</option>

                        <option value="2LT">2LT</option>
                        <option value="LTA">LTA</option>
                        <option value="CPT">CPT</option>
                        
                    </select>
                </div>
                <div class="field">
                    <select name="personPlatoon" class="ui fluid dropdown" id="PerPltEdit">
                        <option value="">Platoon</option>
                        <option value="1">Platoon 1</option>
                        <option value="2">Platoon 2</option>
                        <option value="3">Platoon 3</option>                   
                      </select>

                </div>
                <div class="field hidden-form">
                    <input type="text" name="personID" id="idDetail">
                </div>
                <div class="field hidden-form">
                    <input type="text" name="action" value="1">
                </div>
                
                <div class="ui hidden divider"></div>
                <div class="ui center aligned basic segment">
                    <button class="ui icon large teal button" id="editSave" type="submit">
                        <i class="save outline icon"></i>
                        Save
                    </button>
                </div>

            </form>
        </div>

    </div>
    
    <div class="extra content">
        <div  class="ui center aligned two wide grid">
            
            <button class="ui large orange button" id="CloseView">
                Close
            </button>
        
            <button class="ui icon large teal button" id="EditView">
                <i class="edit icon"></i>
                Edit
            </button>
            
        </div>
    </div>

</div>