<!--Headings to MenuBar-->
<div class="ui relaxed centered grid">

    <!-- Headings -->
    <div class="ui hidden divider"></div>
    <div class="row">
      <div>
        <a href="http://localhost:8000/troll/#"><h1 class="ui center aligned masssive header" id="HomeHeader">
          Reveille
        </h1></a>
      </div>
    </div>
  
    <div class="row">
      <div>
      <h2 class="ui center aligned medium header" id="HeaderSum">All your parades in one place.</h2>
      </div>
    </div>
  
    <!-- MenuBar -->
  
    <div class="fourteen wide column">
      <div class="ui fluid two item huge raised inverted violet menu">
        <a class="item" href="http://localhost:8000/home/#">
          Home
          </a>
        <a class="active item" >Dashboard</a>
        
      </div>
    </div>
  
</div>
  

<!--Close Menu-->