<!--Main Dashboard Widgets-->
<!--Can also be split into partial widgets, for future upgrade etc-->

<div class="container">
    <div class="ui centered grid">

      <div class="fourteen wide column">
        <div class="ui basic segment" id="DashWidgets">
          <div class="ui two column stackable center aligned grid">
  
            <!--Left Side-->
            <div class="column">
              <div class="ui basic segment">
  
                <!--Welcome Summary-->
                <div class="ui fluid raised card">
                  <div class="content">
                    <h1>Welcome to Dashboard.</h1>
  
                    <div class="ui hidden divider"></div>
  
                    <div class="summary">
                      <h3>
                        You are referencing (LABEL UNIT) (LABEL COY) parade states.
                      </h3>
                       
                    </div>
                  </div>
  
                  
                  <div class="extra content">
                    <div class="ui centered two column grid">
                      <div class="center aligned column">
                        <a href="">id:<span>089AAC</span> (dynamic)</a>
                      </div>
                      <div class="center aligned column">
                        <a href="">Created by <span>OC WeiBin</span></a>
                      </div>
                    </div>
                    
                    
                  </div>
                </div>
                
  
  
                <!--Help Card-->
                <div class="ui fluid raised card">
                  <div class="content">
                    <h3>Help</h3>
                  </div>
  
                  <div class="content">
                    <div class="summary">
                      Click here for documentation. 
                    </div>
                  </div>
                  <div class="extra content">
                    <div class="ui centered grid">
                      <div class="seven wide center aligned column"><a href="https://www.healthhub.sg/programmes/88/IQuit">Quit Smoking</a>
                      </div>
  
                      <div class="seven wide center aligned column">
                        <a href="">Report an Issue</a>
                      </div>
                    </div>
                    
                    
                  </div>
                </div>
  
              </div>
            </div>
  
            <!--Right Side-->
            <div class="column">
              <div class="ui basic segment">
  
                <!--Menu Card-->
                <div class="ui fluid card" id="menucard">
                  
                    <div class="ui fluid borderless massive vertical menu" id="bormenu">
                      <!-- <a class="item">
                        <h2 class="ui header">Other Parades</h2>
                        <p>To view other parades under your command</p>
            
                      </a> -->
  
  
                      <a class="item" id="DashPerView">
                        <h2 class="ui header">Personnel View</h2>
                        <p>To view and edit current personnel information.</p>
                        
                      </a>
  
                      <a class="item">
                        <h2 class="ui header">Other Function</h2>
                        <p>Coming Soon</p>
                        
                      </a>
                      
                    </div>
  
                  
                </div>
  
  
                
  
              </div>
            </div>
  
          </div>
        </div>
      </div>

      <div class="fourteen wide column" >
        <div class="ui basic segment hidden" id="PersonnelViewer">
          This is where the personnel view will be

          <button class="ui orange button" id="PerViewBack">Back</button>

        </div>
      </div>

    </div>
</div>







  <!--End widget block-->