<!--Main Dashboard Widgets-->
<!--Can also be split into partial widgets, for future upgrade etc-->

<div class="container">
    <div class="ui centered grid">

      <div class="fourteen wide column">
        <div class="ui basic segment" id="DashWidgets">
          <div class="ui two column stackable center aligned grid">
  
            <!--Left Side-->
            <div class="column">
              <div class="ui basic segment">
  
                <!--Welcome Summary-->
                <div class="ui fluid raised card">
                  <div class="content">
                    <h1>Welcome to Dashboard.</h1>
  
                    <div class="ui hidden divider"></div>
  
                    <div class="summary">
                      <h3>
                        You are referencing (LABEL UNIT) (LABEL COY) parade states.
                      </h3>
                       
                    </div>
                  </div>
  
                  
                  <div class="extra content">
                    <div class="ui centered two column grid">
                      <div class="center aligned column">
                        <a href="">id:<span>089AAC</span> (dynamic)</a>
                      </div>
                      <div class="center aligned column">
                        <a href="">Created by <span>OC WeiBin</span></a>
                      </div>
                    </div>
                    
                    
                  </div>
                </div>
                
  
  
                <!--Help Card-->
                <div class="ui fluid raised card">
                  <div class="content">
                    <h3>Help</h3>
                  </div>
  
                  <div class="content">
                    <div class="summary">
                      Click here for documentation. 
                    </div>
                  </div>
                  <div class="extra content">
                    <div class="ui centered grid">
                      <div class="seven wide center aligned column"><a href="https://www.healthhub.sg/programmes/88/IQuit">Quit Smoking</a>
                      </div>
  
                      <div class="seven wide center aligned column">
                        <a href="">Report an Issue</a>
                      </div>
                    </div>
                    
                    
                  </div>
                </div>
  
              </div>
            </div>
  
            <!--Right Side-->
            <div class="column">
              <div class="ui basic segment">
  
                <!--Menu Card-->
                <div class="ui fluid card" id="menucard">
                  
                    <div class="ui fluid borderless massive vertical menu" id="bormenu">
                      <!-- <a class="item">
                        <h2 class="ui header">Other Parades</h2>
                        <p>To view other parades under your command</p>
            
                      </a> -->
  
  
                      <a class="item" id="DashPerView">
                        <h2 class="ui header">Personnel View</h2>
                        <p>To view and edit current personnel information.</p>
                        
                      </a>
  
                      <a class="item">
                        <h2 class="ui header">Other Function</h2>
                        <p>Coming Soon</p>
                        
                      </a>
                      
                    </div>
  
                  
                </div>
  
  
                
  
              </div>
            </div>
  
          </div>
        </div>
      </div>

      <div class="fourteen wide column" >
        <div class="ui basic segment hidden1" id="PersonnelViewer">
          <div class="ui centered grid">
            <div class="three wide left aligned column">
              <div class="ui inverted header"><h1>Personnel</h1></div>
            </div>
            <div class="five wide column">
              
                <div class="ui search pplSearch" id="pplSearch">
                  <div class="ui icon input">
                    <input class="prompt" id="searchPpl" type="text" placeholder="Search personnel...">
                    <i class="search icon"></i>
                  </div>
                  <div class="results"></div>
                </div>
              
            </div>
            <div class="three wide column">
              <div class="ui blue label"><h3>Total Strength: <span>{{ count }}</span></h3></div>
            </div>
            <div class="three wide column">
              <button class="ui teal button" id="AddPersonnel">Add new personnel</button>
            </div>

            <div class="fourteen wide column">
              {% for eachPlatoon in company %}
              <div class="ui orange inverted segment"><h1 class="ui inverted header">Platoon {{ eachPlatoon.plt_number }}</h1></div>
                {% for eachPerson in eachPlatoon.personnel %}
                <div class="ui fluid card personnelCard">
                  <div class="content">
                    <div class="ui dimmer DeleteDimPer">
                      <div class="content">
                        <h2 class="ui inverted icon header">
                          Delete Personnel?
                        </h2>
                        <div class="ui center aligned grid ">
                          <form action="" method="post" class="">
                            {% csrf_token %}
                            
                            <div class="hidden-form">
                              <input class="personnelDBIDb" name="personID"></input>
                              <input class="" name="action" value="2"></input>
                            </div>

                            <div class="ui two column grid">
                              <div class="column"><button class="ui fluid teal button DelPersonConfirm"  type="submit">Yes</button></div>
                              <div class="column"><button class="ui fluid orange button DelPersonNo" type="button">No</button></div>
                            </div>
                            
                          </form>
                          
                        </div>

                        
                      </div>
                    </div>
                    <div class="ui center aligned grid">
                      

                      <div class="twelve wide column">
                        <div class="left aligned fluid header eachPerName"><h1>{{ eachPerson.name }}</h1></div>
                        <div class="left aligned meta eachPerRank">{{ eachPerson.rank }}</div>
                      </div>
                      
                      <div class="two wide right aligned column">
                        <button class="ui small icon button editPer" >
                          <i class="ellipsis horizontal icon"></i>
                        </button>
                      </div>
                      <div class="two wide left aligned column">
                        <button class="ui small icon button deletePer" >
                          <i class="trash alternate icon"></i>
                        </button>
                      </div>
                      
                      <div class="hidden1 personDBID">
                        {{ eachPerson.id }}
                      </div>
                      <div class="hidden1 personPlatoon">
                        {{ eachPerson.plt }}
                      </div>
                      


                    </div>
                    


                    </div>
                  
                </div>
                {% endfor %}
              
              {% endfor %}

              
            </div>

            <div class="fourteen wide left aligned column">
              <button class="ui orange button" id="PerViewBack">Back</button>
            </div>
          </div>


        </div>
      </div>

    </div>
</div>


<!--End widget block-->