<!--Main Dashboard Widgets-->

<div class="container">
    <div class="ui centered grid">
      <div class="fourteen wide column">
        <div class="ui basic segment">
          <div class="ui two column stackable center aligned grid">
  
            <!--Left Side-->
            <div class="column">
              <div class="ui basic segment">
  
                <!--Welcome Summary-->
                <div class="ui fluid raised card">
                  <div class="content">
                    <h1>Welcome to Dashboard.</h1>
  
                    <div class="ui hidden divider"></div>
  
                    <div class="summary">
                      <h3>
                        You are referencing (LABEL UNIT) (LABEL COY) parade states.
                      </h3>
                       
                    </div>
                  </div>
  
                  
                  <div class="extra content">
                    <div class="ui centered two column grid">
                      <div class="center aligned column">
                        <a href="">id:<span>089AAC</span> (dynamic)</a>
                      </div>
                      <div class="center aligned column">
                        <a href="">Created by <span>OC WeiBin</span></a>
                      </div>
                    </div>
                    
                    
                  </div>
                </div>
                
                <!--Primer Card-->
                <div class="ui fluid raised card">
                  <div class="center aligned content">
                    <h2>Primers</h2>
                  </div>
  
                  <div class="extra content">
                    <div class="ui center aligned basic segment">
                      <button class="ui fluid pink icon button">
                        <i class="massive handshake icon"></i>
                        <div class="ui hidden divider"></div>
                      </button>
                    </div>
                    <div class="ui center aligned basic segment">
                      <button class="ui fluid green icon button">
                        <i class="massive briefcase icon"></i>
                        <div class="ui hidden divider"></div>
                      </button>
                    </div>
                  </div>
  
                </div>
  
  
                <!--Help Card-->
                <div class="ui fluid raised card">
                  <div class="content">
                    <h3>Help</h3>
                  </div>
  
                  <div class="content">
                    <div class="summary">
                      Click here for documentation. 
                    </div>
                  </div>
                  <div class="extra content">
                    <div class="ui centered grid">
                      <div class="seven wide center aligned column"><a href="">Quit Smoking</a>
                      </div>
  
                      <div class="seven wide center aligned column">
                        <a href="">Report an Issue</a>
                      </div>
                    </div>
                    
                    
                  </div>
                </div>
  
              </div>
            </div>
  
            <!--Right Side-->
            <div class="column">
              <div class="ui basic segment">
  
                <!--Menu Card-->
                <div class="ui fluid raised card">
                  
  
                    <div class="ui fluid borderless massive vertical menu">
                      <a class="item">
                        <h4 class="ui header">Other Parades</h4>
                        <p>To view other parades under your command</p>
                        
                      </a>
  
  
                      <a class="item">
                        <h4 class="ui header">Edit Current</h4>
                        <p>To edit current parade personnel, add or remove.</p>
                        
                      </a>
  
                      <a class="item">
                        <h4 class="ui header">Edit Individual</h4>
                        <p>To edit Individual personnel information</p>
                        
                      </a>
                      
                    </div>
  
                  
                </div>
  
                <!--Statistic Cards-->
  
                
  
              </div>
            </div>
  
          </div>
  
        </div>
  
      </div>
    </div>
  </div>







  <!--End widget block-->