<div class="ui modal" id="RepEntMod">
    <div class="content">
        <div class="ui basic center aligned segment">
            <div class="ui massive fluid red label">
                <div class="ui massive inverted header">
                    Repeated Entry
                </div>
            </div>
            <div class="ui basic center aligned segment">
                <div class="ui huge header">
                    Card entry for this personnel has already been added.
                </div>
            </div>
        </div>
        <div class="ui basic center aligned segment">
            <button class="ui huge orange button" id="closeRepEnt">Close</button>
        </div>
    </div>
</div>