<!--Dimmer Add Card-->

<div class="ui page dimmer custom" id="AddCardDimmer">
    <div class="content">
      <h2 class="ui inverted icon header">
        Add a New Card
      </h2>
      
      <div class="ui raised card">
        <div class="content">
            
            <!--Form-->
            
            <div class="ui fluid form">
              <form method="POST" action="" id="AddNewCard"> 
                <!--THis is where the url will be linked to handler for createCard-->
                {% csrf_token %} 
                <div class="hidden-form">
                  <input class="DimDel" name="action" value="0"></input>
                </div>

                <div class="ui basic segment">
                  <div class="field">
                    <label>Search Name</label>
                    <div class="ui fluid search" id="AddNewCardSearch">
                      <div class="ui icon input" >
                        <input class="fluid prompt" name="searchAdd" type="text" placeholder="Personnel..." id="CardSearchInput">
                        <i class="search icon"></i>
                      </div>
                      <div class="results" id="AddResult"></div>
                    </div>
                  </div>
                </div>

                <div class="field">
                  <label>Comments</label>
                  <textarea rows="2" id="CardCommentInput" name="Remarks"></textarea>
                </div>

                <div class="field">
                  <label>Reason for Absence</label>
                  <select name="Absence" class="ui fluid dropdown" id="Status">
                    <option value="">Reason for Absence</option>
                    <option value="MA">MA</option>
                    <option value="MC">MC</option>
                    <option value="Off">Off</option>
                    <option value="Leave">Leave</option>
                    <option value="Others">Others</option>
                    <option value="NIL">-</option>
                  </select>
                </div>

                
                <div class="ui hidden divider"></div>

                <div class="extra content"> 
                  <div class="ui basic segment">
                    <button class="ui disabled button" id="AddCardSave" type="submit" >Save</button> 
                  <button class="ui orange button" type="button" id="AddCardCancel">Cancel</button>
                  </div> <!--Has JS to clear input fields-->
                </div>
                <div class="ui hidden divider"></div>
                <div class="ui hidden divider"></div>
              </form>

            </div>

          
          
        </div>

      </div>

    </div>
</div>


  <!-------------------------------------------------------------------------------------------------------->