<!-- <div class="ui modal" id="discrepPop">
    <div class="content">
        <div class="ui centered grid">
            <div class="sixteen wide column">
                <div class="ui header">
                    <h1 class="ui header">
                        Discrep Popup
                    </h1>
                </div>
            </div>

            <div class="sixteen wide column">
                <p>Text paragraph on instructions</p>

            </div>

            <div class="seven wide column">
                <button class="ui button" id="">
                    Yes Change
                </button>
            </div>
            <div class="seven wide column">
                <button class="ui button">
                    No Change
                </button>
            </div>
        </div>
    </div>
</div> -->