<!--Dimmer Add Card-->

<div class="ui page dimmer custom">
    <div class="content">
      <h2 class="ui inverted icon header">
        Add a New Card
      </h2>
      <div class="container">
        <div class="ui raised card">
          
          <div class="content">
            <div class="ui centered grid">
              <div class="ui hidden divider"></div>

              <div class="sixteen wide center aligned column">                                  
                <div class="ui fluid search" id="AddNewCardSearch">
                  <div class="ui icon input" >
                    <input class="fluid prompt" type="text" placeholder="Personnel..." id="CardSearchInput">
                      <i class="search icon"></i>
                  </div>
                  <div class="results" id="AddResult"></div>
                </div>                                  
              </div>

              <div class="twelve wide center aligned column">
                <div class="column">
                  <a class="ui fluid label" id="Search Result">
                    <i class="id card icon"></i>
                    Search Result
                  </a>
                </div>

              </div>

              <!--Form-->
              <div class="ui form">
                
                <form method="POST" action="" id="AddNewCard"> <!--THis is where the url will be linked to handler for createCard-->
                  {% csrf_token %} <!--csrf token added idk what to do w it incontext, cos it crashes sometimes if u reload the page-->
                  <div class="field">
                    <label>Comments</label>
                    <textarea rows="2" id="CardCommentInput"></textarea>
                  </div>
  
                  <div class="field">
                    <label>Medical Status</label>
                    <select name="MedicalStatus" class="ui fluid dropdown" id="MedStat"> <!--"input" name = ...-->
                      <option value="">Medical Status</option>
                      <option value="MA">MA</option>
                      <option value="FFI">FFI</option>
                      <option value="SO">Sent Out</option>
                      <option value="MC">MC</option>
                      <option value="NIL">-</option>
                    </select>
                  </div>
  
                  <div class="field">
                    <label>Current Activity</label>
                    <select name="Activity" class="ui fluid dropdown" id="Activity"> <!--"input" name = ...-->
                      <option value="">Activity</option>
                      <option value="OutStn">Outstationed</option>
                      <option value="Off">Off</option>
                      <option value="Leave">On-Leave</option>
                      <option value="Course">On-Course</option>
                      <option value="NIL">-</option>
                    </select>
                  </div>
                  <div class="ui hidden divider"></div>
  
                  <div class="extra content"> 
                    <button class="ui disabled button" id="AddCardSave" type="submit" >Save</button> 
                    <button class="ui orange button" type="button" id="AddCardCancel">Cancel</button> <!--Has JS to clear input fields-->
                  </div>
                  <div class="ui hidden divider"></div>
                  <div class="ui hidden divider"></div>
                </form>

              </div>

            
            </div>
          </div>
          
          

        </div>
        
      </div>

      
    </div>
</div>


  <!-------------------------------------------------------------------------------------------------------->