<div class="ui modal" id="discrepPop">
    <div class="content">
        <div class="ui center aligned grid">
            <div class="sixteen wide column">
                <div class="ui massive orange label">
                    <h1 class="ui inverted header">
                        Discrepancies in Strength
                    </h1>
                </div>
            </div>

            <div class="sixteen wide column">
                <div class="ui basic segment">
                    <h3 class="ui header">We have detected discrepancies between the currently selected parade's total strength and your current total personnel strength.</h3>
                </div>
                <div class="ui basic segment">
                    <h4>Would you like to keep your current parade state?</h4>

                </div>

            </div>

            <div class="sixteen wide column">
                <div class="ui form">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="field hidden-form">
                            <input type="text" name="keep_current" id="keepcurr" value="">
                        </div>
                        <div class="field hidden-form">
                            <input type="text" name="action" id="" value="4">
                        </div>
                        <div class="ui center aligned two column grid">
                            <div class="column">                               
                                <button class="ui purple button" id="NoChange" type="submit">
                                    Yes, keep current parade strength.
                                </button>                  
                            </div>
                            <div class="column">     
                                <button class="ui purple button" id="YesChange" type="submit">
                                    No, update new strength.
                                </button>                               
                            </div>

                        </div>
                        
                        

                    </form>
                </div>
            </div>
            
                
            
        </div>
    </div>
</div>