<!--Footer for Home Page-->

<div class="ui centered grid">
    <div class="fourteen wide column">
    <div class="ui violet inverted segment" >
      <div class="ui very relaxed centered grid">
  
        <div class="fourteen wide column">
  
          <div class="ui middle aligned animated list">
            <div class="item">
              <i class="question icon"></i>
              <div class="content">
                <div class="ui grey header"><a href="http://localhost:8000/faq/">FAQ</a></div>
              </div>
            </div>
            <div class="item">
              <i class="file alternate icon"></i>
              <div class="content">
                <div class="ui grey header">Terms and Conditions</div>
              </div>
            </div>
            <div class="item">
              <i class="large envelope outline icon"></i>
              <div class="content">
                <div class="ui grey header">Contact our team</div>
              </div>
            </div>
          </div>
  
        </div>
  
  
      </div>
  
    </div>
    </div>
</div>