{% load static %}
<div class="ui center aligned grid" id="ParadeMakeBanner">
    
    <div class="fourteen wide column">
        <div class="ui basic center aligned violet inverted segment">
            <div class="ui hidden divider"></div>
            <div class="ui center aligned grid">
                <div class="ten wide column">
                    <div class="ui violet inverted segment">
                        <h1>Reveille keeps track of all your parade states and personnel movements in a simple, beautiful manner.</h1>
                    </div>
                    
                </div>

                <div class="four wide column">
                    <img class="ui rounded image" src="{% static 'attendance/Images/teamwork-and-brainstorming.jpg'%}">
                </div>

            </div>
            <div class="ui hidden divider"></div>
          
        </div>
    </div>

    <div class="fourteen wide column">
        <div class="ui basic center aligned violet inverted segment">
            <div class="ui hidden divider"></div>
            <div class="ui center aligned grid">

                <div class="four wide column">
                    <img class="ui rounded image" src="{% static 'attendance/Images/addper.jpg'%}">
                </div>

                <div class="ten wide column">
                    <div class="ui violet inverted segment">
                        <h1>First time here?</h1>
                        <h2>To begin, add personnel to your Database here, <a class="ui orange button" href="">Add Personnel</a></h2>
                    </div>    
                </div>

            </div>
            <div class="ui hidden divider"></div>
          
        </div>
    </div>
    
</div>