{% load static %}
<div class="ui center aligned grid" id="ParadeMakeBanner">
    
    <div class="fourteen wide column">
        <div class="ui basic center aligned violet inverted segment">
            <div class="ui hidden divider"></div>
            <div class="ui center aligned grid">
                <div class="ten wide column">
                    <div class="ui violet inverted segment">
                        <div class="ui hidden divider"></div>
                        <h1>Reveille keeps track of all your parade states and personnel movements in a simple, beautiful manner.</h1>
                    </div>
                    
                </div>

                <div class="four wide column">
                    <img class="ui rounded image" src="{% static 'attendance/Images/team-solving-problems.png'%}">
                </div>

            </div>
            <div class="ui hidden divider"></div>
          
        </div>
    </div>

    <div class="fourteen wide column">
        <div class="ui basic center aligned violet inverted segment">
            <div class="ui hidden divider"></div>
            <div class="ui center aligned grid">

                <div class="four wide column">
                    <img class="ui rounded image" src="{% static 'attendance/Images/woman-managing-tasks-in.png'%}">
                </div>

                <div class="ten wide column">
                    <div class="ui violet inverted segment">
                        <h1>First time here?</h1>
                        <div class="ui hidden divider"></div>
                        <h2>To begin, add personnel to your Database here <br>
                        <div class="ui hidden divider"></div><a class="ui orange button" href="">Add Personnel</a></h2>
                    </div>    
                </div>

            </div>
            <div class="ui hidden divider"></div>
          
        </div>
    </div>

    <div class="fourteen wide column">
        <div class="ui basic center aligned violet inverted segment">
            <div class="ui hidden divider"></div>
            <div class="ui center aligned grid">
                <div class="ten wide column">
                    <div class="ui violet inverted segment">
                        <h1>Once you have added personnel to your database, <br>proceed to create your first parade.</h1>
                        <div class="ui hidden divider"></div>
                        <button class="ui teal button">Create Parade</button>

                    </div>
                    
                </div>

                <div class="four wide column">
                    <img class="ui rounded image" src="{% static 'attendance/Images/office-working-area.png'%}">
                </div>

            </div>
            <div class="ui hidden divider"></div>
          
        </div>
    </div>

    <div class="fourteen wide column">
        <div class="ui basic center aligned violet inverted segment">
            <img class="ui big centered image" src="{% static 'attendance/Images/startup.png'%}">
            <h1>You're good to go!<br>
                <div class="ui hidden divider"></div>
                 Simply search for a parade using the parade selector tool to begin.</h1>
                 <div class="ui hidden divider"></div>

        </div>
    </div>

    
</div>