<!--Banner that notes to make parade if its a users first time-->

<div class="ui relaxed centered grid">
    
    <div class="fourteen wide column">
      <div class="ui violet inverted segment">
        <div class="ui basic center aligned segment">
            <h1 id="CreateStateHeader">New to Reveille?</h1>
        </div>
        <div class="ui hidden divider"></div>
        <div class="ui centered grid">
            <div class="eleven wide column">
                <h3>Create your first state here.</h3>
            </div>
            <div class="three wide right aligned column">
                <button class="ui large orange fluid button">Create</button>
            </div>
        </div>

        <div class="ui centered grid">
            <div class="eleven wide column">
                <h3>Create a new account.</h3>
            </div>
            <div class="three wide right aligned column">
                <button class="ui large teal fluid button">Sign Up</button>
            </div>
        </div>

        <div class="ui hidden divider"></div>

      </div>
    </div>
    
</div>