<!--Tabs and Cards, Main Bulk of Home Page-->



<div class="ui center aligned grid">
    <div class="fourteen wide column">
      <div class="ui top attached tabular inverted violet menu" id="CardTabs">
        <a class="active item" data-tab="first">Overview</a>
        <a class="item" data-tab="second">Summary</a>
        <a class="item" data-tab="third" >Log</a>
      </div>


      <!--Overview Tab-->

      <div class="ui violet inverted bottom attached active tab basic segment" data-tab="first" id="OverviewTab">

        <!--First Row of Overview Tab-->
        <div class="ui centered stackable grid">

          <!--Search Cards-->
          <div class="computer only twelve wide violet column">
            <div class="ui basic segment">
              <div class="ui disabled fluid category search " id="OverviewSearch">
                <div class="ui icon input">
                  <input class="prompt" type="text" placeholder="Search personnel...">
                  <i class="search icon"></i>
                </div>
                <div class="results"></div>
              </div>
            </div>
            
          </div>

          <!--Layout Changer -->
          <div class="computer only violet three wide column">
            <div class="ui basic right aligned segment">
              <div class="ui disabled floating labeled icon dropdown fluid button" id="LayoutBtn">
                <i class="object group icon"></i>
                <span class="text">Layout</span>
                <div class="menu">
                  <div class="header">
                    <i class="columns icon"></i>
                    Layout Choices
                  </div>
                  <div class="divider"></div>
                  <div class="item">
                    <i class="sticky note icon"></i>
                    Cards
                  </div>
                  <div class="item">
                    <i class="list ul icon"></i>
                    Rows
                  </div>
                  <div class="item">
                    <i class="th icon"></i>
                    Icons
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--Add Card Toggle-->
          <div class="computer only violet one wide column">
            <div class="ui basic left aligned segment">
              <button class="ui teal icon button" id="AddCardToggle" data-content="Add users to your feed">
                <i class="user plus icon"></i>
              </button>
            </div>
          </div>
        
        

          <!--Search Cards (Mobile/Tablet)-->
          <div class="tablet only mobile only eight wide violet column">
            <div class="ui center aligned basic segment">
              <div class="ui fluid category search">
                <div class="ui icon input">
                  <input class="prompt" type="text" placeholder="Search personnel...">
                  <i class="search icon"></i>
                </div>
                <div class="results"></div>
              </div>
            </div>
            
          </div>

          <!--Layout and Add Card Buttons (Mobile/Tablet)-->
          <div class="tablet only mobile only eight wide violet column">
            <div class="ui two column grid">
              <div class="column">
                <div class="ui basic segment">
                  <div class="ui floating labeled icon dropdown fluid button">
                    <i class="object group icon"></i>
                    <span class="text">Layout</span>
                    <div class="menu">
                      <div class="header">
                        <i class="columns icon"></i>
                        Layout Choices
                      </div>
                      <div class="divider"></div>
                      <div class="item">
                        <i class="sticky note icon"></i>
                        Default Card
                      </div>
                      <div class="item">
                        <i class="list ul icon"></i>
                        Stacked Rows
                      </div>
                      <div class="item">
                        <i class="th icon"></i>
                        Small icons
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="ui basic segment">
                  <button class="ui fluid teal icon button" id="AddCardToggleMobile" data-content="Add users to your feed">
                    <i class="user plus icon"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          
        </div>

        <!--Card Holder Segments-->
        <div class="ui placeholder basic violet segment"> 
            
            <!--Default page before entrance of data. No Documents. -->
            {% if error %}
            <div class="" id="NoDocumentPage">
              <div class="ui centered grid">
                <div class="row">
                  <div class="ui icon header">
                    <i class="inverted user secret icon"></i>
                      <span class="ui grey header">No cards are listed, search for your parade to begin.</span>
                      <div class="ui grey header">New to Reveille? Let's Begin <button class="ui teal button">Start</button></div>
                  </div>
                </div>
              </div>
            </div>

            <!--CardHolding, will have to do a loop to generate cards and each taking data from backend-->
            {% else %}
            <!-- if no_absentees == true , else show no absentee msg.-->
            <div class="" id="CardHolders">
                                                    
              <!--Sample Cards-->                
              <div class="ui raised four stackable cards">

                <!-- {% for eachcard in absence %} -->
                <!--Individual Cards-->                  
                <div class="card">
                  <div class="content">
                    <div class="ui grid">
                      <div class="twelve wide column">
                        <div class="left aligned fluid header">
                          <h3>{{ name }}</h3>
                        </div>
                        <div class="left aligned meta">
                          {{ rank }}
                        </div>
                      </div>
                      
                      <div class="four wide column">
                        <button class="ui icon button" id="CardDeleteIndiv"><i class="minus square outline icon"></i></button>
                      </div>
                    </div>
                    
                    <div class="ui basic segment">
                      <div class="meta">
                        <div class="ui yellow label">
                          {{ platoon }}
                        </div>
                      </div>
                    </div>
                    
                    <div class="ui basic segment">
                      <div class="description">
                        {{ remarks }}
                      </div>
                    </div>

                  </div>
                  <div class="extra content">
                    <div class="ui basic segment">
                      <div class="meta"> 
                        

                      </div>
                    </div>
                    <div class="four column ui grid">
                      <!-- <div class="column"><button class="ui olive circular icon button"><i class="phone icon"></i></button></div> -->
                      <!-- <div class="column"><button class="ui teal circular icon button"><i class="paper plane icon"></i></button></div> -->
                      <div class="column"><button class="ui teal circular icon button"><i class="edit icon"></i></button></div>
                      <div class="column"><button class="ui orange circular icon button"><i class="minus square icon"></i></button></div>
                    </div>
                  </div>
              



                </div>
                <!-- {% endfor %} -->
                
              </div>

            </div>

            {% endif %}
        </div>

      </div>

      <!--Summary Tab-->
      <div class="ui violet inverted bottom attached tab basic segment" data-tab="second" id="SummaryTab">

        <!--First row -->
        
        <div class="ui center aligned grid">

          <div class="ten wide column">
            <div class="ui basic left aligned segment">
            <h1 id="SummaryHeader">Summary</h1>
            </div>
          </div>
          
          <div class="computer only four wide column">
            <div class="ui basic right aligned segment">
              <div class="ui left pointing dropdown link item">
                <div>
                  <button class="ui center aligned orange button">Export</button>
                  
                </div>
                <div class="menu">
                  <div class="item">Whatsapp</div>
                  <div class="item">Telegram</div>
                  <div class="item">Sent Mail</div>
                  <div class="item">Drafts (143)</div>
                  <div class="divider"></div>
                  <div class="item">Save as pdf</div>
                  <div class="item">Options</div>
                </div>
              </div>
            </div>
          </div>

          <div class="mobile only tablet only four wide column">
            <div class="ui basic right aligned segment">
              <div class="ui right pointing dropdown link item">
                <div class="">
                  <button class="ui center aligned orange button">Export</button>
                  
                </div>
                <div class="ui grey menu">
                  <div class="green item">Whatsapp</div>
                  <div class="item">Telegram</div>
                  <div class="item">Sent Mail</div>
                  <div class="item">Drafts (143)</div>
                  <div class="divider"></div>
                  <div class="item">Save as pdf</div>
                  <div class="item">Options</div>
                </div>
              </div>
            </div>
          </div>

        </div>


        <!--Summary Data-->
        <div class="ui center aligned grid">


          {% if error %}
          <div class="ui basic segment">
            <div class="ui divider"></div>
            <div><h1>{{ message }}</h1></div>
            <div class="ui divider"></div>
          </div>
          <div class="ui basic segment">

          </div>
            

          {% else %}

          <div class="row">
            <div class="fourteen wide left aligned column">
              <div class="ui inverted grey segment">
                <h3 class="ui violet header">Total Strength: <span>{{ total_strength }}</span></h3>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="fourteen wide left aligned column">
              <div class="ui inverted grey segment">
                <h3 class="ui violet header">Current Strength: <span>{{ current_strength }}</span></h3>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="fourteen wide left aligned column">
              <div class="ui inverted grey segment">
                <h3 class="ui violet header">Total Absent: <span>{{ total_absent }}</span></h3>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="fourteen wide left aligned column">
              <div class="ui inverted grey segment">
                <h3 class="ui violet header">Attend C: <span>{{ total_attc }}</span></h3>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="fourteen wide left aligned column">
              <div class="ui inverted grey segment">
                <h3 class="ui violet header">Medical Appointment: <span>{{ total_ma }}</span></h3>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="fourteen wide left aligned column">
              <div class="ui inverted grey segment">
                <h3 class="ui violet header">Leave: <span>{{ total_leave }}</span></h3>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="fourteen wide left aligned column">
              <div class="ui inverted grey segment">
                <h3 class="ui violet header">On Off: <span>{{ total_off }}</span></h3>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="fourteen wide left aligned column">
              <div class="ui inverted grey segment">
                <h3 class="ui violet header">Other: <span>{{ total_other }}</span></h3>
              </div>
            </div>
          </div>

          {% endif %}
          


          <div class="ui hidden divider"></div>

          
        </div>
        
      </div>

      <!--Log Tab-->
      <div class="ui violet inverted bottom attached tab basic segment" data-tab="third" id="LogTab">
        <div class="ui hidden divider"></div>
        <div class="ui centered grid">
          <div class="fourteen wide column">
            <div class="ui grey segment">
              <h1>Coming Soon.</h1>
            </div>
            <div class="ui hidden divider "></div>

          </div>
        </div>
         
      </div>

    </div>
</div>




<!--------------------------------------------------------------->