<!--Tabs and Cards, Main Bulk of Home Page-->
{% load static %}


<div class="ui center aligned grid">
    <div class="fourteen wide column">
      <div class="ui top attached tabular inverted violet menu" id="CardTabs">
        <a class="active item" data-tab="first">Overview</a>
        <a class="item" data-tab="second">Summary</a>
        <a class="item" data-tab="third" >Log</a>
      </div>


      <!--Overview Tab-->

      <div class="ui violet inverted bottom attached active tab basic segment" data-tab="first" id="OverviewTab">

        <!--First Row of Overview Tab-->
        <div class="ui centered stackable grid">

          <!--Search Cards-->
          <div class="computer only twelve wide violet column">
            <div class="ui basic segment">
              <div class="ui disabled fluid search overSearch" id="OverviewSearch">
                <div class="ui icon input">
                  <input class="prompt" id="searchCards" type="text" placeholder="Search personnel...">
                  <i class="search icon"></i>
                </div>
                <div class="results"></div>
              </div>
            </div>
            
          </div>

          <!--Layout Changer -->
          <div class="computer only violet three wide column">
            <div class="ui basic right aligned segment">
              <div class="ui disabled floating labeled icon dropdown fluid button" id="LayoutBtn">
                <i class="object group icon"></i>
                <span class="text">Layout</span>
                <div class="menu">
                  <div class="header">
                    <i class="columns icon"></i>
                    Layout Choices
                  </div>
                  <div class="divider"></div>
                  <div class="item">
                    <i class="sticky note icon"></i>
                    Cards
                  </div>
                  <div class="item">
                    <i class="list ul icon"></i>
                    Rows
                  </div>
                  <div class="item">
                    <i class="th icon"></i>
                    Icons
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--Add Card Toggle-->
          <div class="computer only violet one wide column">
            <div class="ui basic left aligned segment">
              <button class="ui teal disabled icon button" id="AddCardToggle" data-content="Add users to your feed">
                <i class="user plus icon"></i>
              </button>
            </div>
          </div>
        
        

          <!--Search Cards (Mobile/Tablet)-->
          <div class="tablet only mobile only eight wide violet column">
            <div class="ui center aligned basic segment">
              <div class="ui fluid category search">
                <div class="ui icon input">
                  <input class="prompt" type="text" placeholder="Search personnel...">
                  <i class="search icon"></i>
                </div>
                <div class="results"></div>
              </div>
            </div>
            
          </div>

          <!--Layout and Add Card Buttons (Mobile/Tablet)-->
          <div class="tablet only mobile only eight wide violet column">
            <div class="ui two column grid">
              <div class="column">
                <div class="ui basic segment">
                  <div class="ui floating labeled icon dropdown fluid button">
                    <i class="object group icon"></i>
                    <span class="text">Layout</span>
                    <div class="menu">
                      <div class="header">
                        <i class="columns icon"></i>
                        Layout Choices
                      </div>
                      <div class="divider"></div>
                      <div class="item">
                        <i class="sticky note icon"></i>
                        Default Card
                      </div>
                      <div class="item">
                        <i class="list ul icon"></i>
                        Stacked Rows
                      </div>
                      <div class="item">
                        <i class="th icon"></i>
                        Small icons
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="ui basic segment">
                  <button class="ui fluid teal icon button" id="AddCardToggleMobile" data-content="Add users to your feed">
                    <i class="user plus icon"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          
        </div>

        <!--Card Holder Segments-->
        <div class="ui placeholder basic violet segment"> 
            
            <!--Default page before entrance of data. No Documents. -->
            {% if default %}
            <div class="" id="NoDocumentPage">
              <div class="ui hidden divider"></div>
              <div class="ui centered grid">
                <div class="row">
                  <div class="ui inverted icon header">
                      <i class="folder outline icon"></i>
                      <h1 class="content">No cards are listed, search for your parade.</h1>
                    
                  </div>
                  
                  <div class="ui hidden divider"></div>
                  
                </div>
                <div class="row">
                  <div class="ui basic  segment">
                    <h2 class="ui grey header">New to Reveille?</h2>
                    <div class="ui hidden divider"></div>

                    <a class="ui teal button" id="GetStartBtn" href="#IntroBanner">Get Started</a>
                  </div>
                </div>
              </div>
              <div class="ui hidden divider"></div>

            </div>

            {% elif parade_exist == False %}

            <div class="" id="NoDocumentPage2">
              <div class="ui centered grid">
                <div class="row">
                  <div class="ui icon header">
                    <i class="plane icon"></i>
                      <span class="ui grey header">Parade does not exist, create parade</span>
                      <div class="ui grey header">New to Reveille? Let's Begin</div>

                        <a class="ui teal button" href="#ParadeMakeBanner">Start</a></div>
                  
                </div>
              </div>
            </div>




            <!--CardHolding, will have to do a loop to generate cards and each taking data from backend-->
            {% else %}
            <!-- if no_absentees == true , else show no absentee msg.-->
            <div class="" id="CardHolders">
                                                    
              <!--Sample Cards-->                
              <div class="ui raised four stackable cards">

                {% for eachCard in parade_overview %}
                <!--Individual Cards-->     
                
                <div class="card personnel-card">
                  <div class="ui dimmer DeleteDim">
                    <div class="content">
                      <h2 class="ui inverted icon header">
                        Delete Card?
                      </h2>
                      <div class="ui hidden divider"></div>
                      <div class="ui center aligned grid ">
                        <form action="" method="post" class="">
                          {% csrf_token %}
                          
                          <div class="hidden-form">
                            <input class="DimDelId" name="absence_id" ></input>
                            <input class="DimDel" name="action" value="2"></input>
                          </div>

                          <div class="ui two column center aligned grid">
                            <div class="column"><button class="ui fluid teal button DelCardConfirm"  type="submit">Yes</button></div>
                          <div class="column"><button class="ui fluid orange button DelCardNo" type="button">No</button></div>
                          </div>
                          
                        </form>
                        
                      </div>

                      
                    </div>
                  </div>

                  <div class="content">
                    <div class="ui grid">
                      <div class="twelve wide column">
                        <div class="left aligned fluid header">
                          <h3 class="PersonName">{{ eachCard.name }}</h3>
                        </div>
                        <div class="left aligned meta PersonRank">
                          {{ eachCard.rank }}
                        </div>
                      </div>
                      
                      <div class="four wide column">
                        <div class="meta">
                          
                            <a class="ui yellow right label PersonPlatoon">
                              Platoon
                            {{ eachCard.platoon }}
                            </a>
                        </div>
                      </div>
                    </div>
                    
                    
                    <div class="ui basic segment">
                      <div class="description PersonDesc">
                        {{ eachCard.remarks }}
                      </div>
                    </div>

                    <div class="IndivDBID" >
                      {{ eachCard.absence_id }}
                    </div>

                    
                    
                  </div>
                  
                  
                  <div class="extra content">
                    
                    <div class="ui basic segment PersonReason">
                      <div class="meta"> 
                          {% if eachCard.is_mc == True %}
                          
                          <a class="ui large red label">MC</a>
                          {% else %}
                          {% endif %}
                          
                          {% if eachCard.is_ma == True  %}
                          
                          <a class="ui large orange label">MA</a>

                          {% else %}
                          {% endif %}
  
                          {% if eachCard.is_off == True %}
                          <a class="ui large blue label">Off</a>
                          {% else %}
                          {% endif %}
  
                          {% if eachCard.is_leave == True %}
                          <a class="ui large green label">Leave</a>
                          {% else %}
                          {% endif %}
  
                          {% if eachCard.is_other == True %}
                          <a class="ui red label">Others</a>
                          {% else %}
                          {% endif %}
  
                      </div>
                    </div>
                    <div class="two column ui grid">
                      <!-- <div class="column"><button class="ui olive circular icon button"><i class="phone icon"></i></button></div> -->
                      <!-- <div class="column"><button class="ui teal circular icon button"><i class="paper plane icon"></i></button></div> -->
                      <div class="column"><button class="ui teal circular icon button IndivEdit" ><i class="edit icon"></i></button></div>
                      <div class="column"><button class="ui orange circular icon button IndivDelete"><i class="minus square icon"></i></button></div>
                    </div>
                  </div>
                  
                  
                  


                </div>

                
                {% endfor %}
                
              </div>

            </div>

            {% endif %}
        </div>

      </div>

      <!--Summary Tab-->
      <div class="ui violet inverted bottom attached tab basic segment" data-tab="second" id="SummaryTab">

        <!--First row -->
        
        <div class="ui center aligned grid">

          <div class="eight wide column">
            <div class="ui basic left aligned segment">
            <h1 id="SummaryHeader">Summary</h1>
            </div>
          </div>

          <div class="two wide column">
            <div class="ui basic left aligned segment">
              <div class="ui toggle checkbox" id="showBreak">
                <input type="checkbox" name="Breakdown">
                <label><h3 class="ui inverted header">Breakdown</h3></label>
              </div>            
            </div>
            
            
          </div>
          
          <div class="computer only four wide column">
            <div class="ui basic right aligned segment">
              <div class="ui disabled left pointing dropdown link item" id="ExportBtn">
                <div>
                  <button class="ui center aligned orange button">Export</button>
                  
                </div>
                <div class="menu">
                  <div class="item">Whatsapp</div>
                  <div class="item">Telegram</div>
                  <div class="item">Sent Mail</div>
                  <div class="item">Drafts (143)</div>
                  <div class="divider"></div>
                  <div class="item">Save as pdf</div>
                  <div class="item">Options</div>
                </div>
              </div>
            </div>
          </div>

          <div class="mobile only tablet only four wide column">
            <div class="ui basic right aligned segment">
              <div class="ui right pointing dropdown link item">
                <div class="">
                  <button class="ui center aligned orange button">Export</button>
                  
                </div>
                <div class="ui grey menu">
                  <div class="green item">Whatsapp</div>
                  <div class="item">Telegram</div>
                  <div class="item">Sent Mail</div>
                  <div class="item">Drafts (143)</div>
                  <div class="divider"></div>
                  <div class="item">Save as pdf</div>
                  <div class="item">Options</div>
                </div>
              </div>
            </div>
          </div>

        </div>


        <!--Summary Data-->
        <div class="ui center aligned grid">


          {% if parade_exist == False %}
          <div class="ui basic segment">
            <div class="ui divider"></div>
            <div><h1>Parade does not exist, proceed to create parade?</h1></div>
            <div class="ui divider"></div>
          </div>
          <div class="ui basic segment">

          </div>
            

          {% elif parade_exist == True %}
          <script>
            document.getElementById('ExportBtn').classList.remove('disabled');
          </script>

          <div class="row">
            <div class="fourteen wide left aligned column">
              <div class="ui inverted grey segment">
                <h2 class="ui violet header">Total Strength: <span>{{ parade_summary.total_strength }}</span></h2>
              </div>
              <div class="ui hidden divider"></div>
            </div>
          </div>

          <div class="row">
            <div class="fourteen wide left aligned column">
              <div class="ui inverted grey segment">
                <h2 class="ui violet header">Current Strength: <span>{{ parade_summary.current_strength }}</span></h2>
              </div>
              <div class="ui hidden divider"></div>

            </div>
          </div>

          <div class="row">
            <a class="fourteen wide left aligned column dataRow">
              <div class="ui inverted grey segment">
                <h3 class="ui violet header">Total Absent: <span>{{ parade_summary.total_absent }}</span></h3>
              </div>
              <div class="ui segment hidden1 1Name">
                TotalABs List
              </div>
            </a>

          </div>

          <div class="row">
            <div class="fourteen wide left aligned column">
              <div class="ui inverted grey segment">
                <h3 class="ui violet header">Attend C: <span>{{ parade_summary.total_attc }}</span></h3>
              </div>
              <div class="ui segment hidden1 hiddenName">
                Total Attc List
              </div>
            </div>
          </div>

          <div class="row">
            <div class="fourteen wide left aligned column">
              <div class="ui inverted grey segment">
                <h3 class="ui violet header">Medical Appointment: <span>{{ parade_summary.total_ma }}</span></h3>
              </div>
              <div class="ui segment hidden1 hiddenName">
                Total MA List
              </div>
            </div>
          </div>

          <div class="row">
            <div class="fourteen wide left aligned column">
              <div class="ui inverted grey segment">
                <h3 class="ui violet header">Leave: <span>{{ parade_summary.total_leave }}</span></h3>
              </div>
              <div class="ui segment hidden1 hiddenName">
                Total Lv List
              </div>
            </div>
          </div>

          <div class="row">
            <div class="fourteen wide left aligned column">
              <div class="ui inverted grey segment">
                <h3 class="ui violet header">On Off: <span>{{ parade_summary.total_off }}</span></h3>
              </div>
              <div class="ui segment hidden1 hiddenName">
                Total Off List
              </div>
            </div>
          </div>

          <div class="row">
            <div class="fourteen wide left aligned column">
              <div class="ui inverted grey segment">
                <h3 class="ui violet header">Other: <span>{{ parade_summary.total_other }}</span></h3>
              </div>
              <div class="ui segment hidden1 hiddenName">
                Total Oter List
              </div>
            </div>
          </div>

          {% else %}
          <div class="">
            <div class="ui hidden divider"></div>
            <div class="ui centered grid">
              <div class="row">
                <div class="ui inverted icon header">
                    <i class="folder outline icon"></i>
                    <h1 class="content">No parade selection has been made.</h1>
                  
                </div>
                
                <div class="ui hidden divider"></div>
                
              </div>
              <div class="row">
                <div class="ui basic  segment">
                  <a href="#" class="ui teal button">Select Parade</a>
                </div>
              </div>
            </div>
            <div class="ui hidden divider"></div>

          </div>
            
          {% endif %}
          


          <div class="ui hidden divider"></div>

          
        </div>
        
      </div>

      <!--Log Tab-->
      <div class="ui violet inverted bottom attached tab basic segment" data-tab="third" id="LogTab">
        <div class="ui hidden divider"></div>
        <div class="ui centered grid">
          <div class="fourteen wide column">
            <div class="ui grey segment">
              <h1>Coming Soon.</h1>
            </div>
            <div class="ui hidden divider "></div>

          </div>
        </div>
         
      </div>

    </div>
</div>




<!--------------------------------------------------------------->