{% load static %}
<!DOCTYPE html>
<html>
<head>


<link rel="stylesheet" href="{% static 'attendance/SemanticAssets/semantic/distcopy/semantic.css/' %} ">
<link rel="stylesheet" href="{% static 'attendance/SemanticAssets/semantic/distcopy/icon.css/' %} ">
<link rel="stylesheet" type="text/css" href="{% static 'attendance/CSS/master.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

<title>Reveille</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Parade State Compiler">

<!-- Style Overides -->
<style>

  .DimDB , .IndivDBID , .hidden-form , .hidden {
    display: none;
  }
  
  a.item.p {
    background: none;
    color: black !important;
  }
  body {
    /* ArsenicColor */
    background-color: #0C1430;
    color: black;
  }

  #HomeHeader, #HeaderSum {
    background-color: none;

    color: white;
  }

  #SummaryHeader {
    background-color: none;
    color: gray;
  }

  

  #OverviewTab, #SummaryTab, #LogTab {
    border-style: none;
  }


  #LogTab {
    margin-left: 0px;
    width: 100%;
  }

  #CreateStateHeader2 {
  font-size: 30px;
    color: white;
    background: none;
}

  

</style>

</head>

<body>

  

{% block content %}{% endblock %}




<!-------- Scripts -------->

  <!-- Default Semantic -->

    <script>

      //Initializing
      $('.ui.dropdown')
      .dropdown()
      ;

      $('.menu .item')
      .tab()
      ;

    
      //Add New Card
      $('#AddCardToggleMobile').click(function(){ $('#AddCardDimmer').dimmer("show") })
      ;

      $('#AddCardToggle').click(function(){ 
        $('#AddCardDimmer').dimmer("show");

         })
      ;

      $('#AddCardSave').click(function(){ 

        $('#AddCardDimmer').dimmer("hide");

        
         })
      ;

      $('#AddCardCancel').click(function(){ 
        
        $('#AddCardDimmer').dimmer("hide");
        
         })
      ;

      
      //Edit Card
      $('.IndivEdit').click(function(){ 
        $('.IndivDim').modal("show");
      
       })
      ;

      $('#EditCardCancel').click(function(){ 
        $('.IndivDim').modal("hide");
  
       })
      ;

      $('#EditCardSave').click(function(){ 
        $('.IndivDim').modal("hide");
        
         })
      ;

      //Delete Card
      $('.DelCardConfirm').click(function(){
        $('.DeleteDim').dimmer("hide");
      })
      ;

      $('.DelCardNo').click(function(){
        $('.DeleteDim').dimmer("hide");
      })
      ;



      //Dashboard Personnel Add
      $('#AddPersonnel').click(function(){ $('#AddPersonnelDimmer').dimmer("show") })
      ;

      // $('#AddPersonnel').click(function(){ 
      //   $('#AddPersonnelDimmer').dimmer("show");

      //    })
      // ;

      $('#AddPersonnelSave').click(function(){ 

        $('#AddPersonnelDimmer').dimmer("hide");

        
         })
      ;

      $('#AddPersonnelCancel').click(function(){ 
        
        $('#AddPersonnelDimmer').dimmer("hide");
        
         })
      ;

      



    </script>


  <!-- Local Self-written -->
  
    <!--Scroll infographics-->
    <script>
      var getStartBtn = document.getElementById('GetStartBtn');
      if (getStartBtn) {
        getStartBtn.addEventListener('click',ScrollToInfo);

      }
      function ScrollToInfo(){
        $("html, body").animate({
          scrollTop: $("#IntroBanner").offset().top - 20 
        }, 1300);

      }

      var createPar = document.getElementById('createPar');
      createPar.addEventListener('click',ScrollToDateBar);
      function ScrollToDateBar(){
        $("html, body").animate({
          scrollTop: $("body").offset().top
        }, 1300);

      }
    </script>


    <!-- 
    Updating URL from DatePicker, 
    to query DB for specific parade on specific date , enabling elements on get.
    -->
    <script>

      var dateSelect = document.getElementById('MyDate');
      var parChoiceDrop = document.getElementById('ParadeChoice');

      function checkFillDate(){
        var selectVal = $('.datepick').dropdown('get value');
        var paradeChoice = document.getElementById('ParadeChoice').value;


        console.log(paradeChoice);
        if ( selectVal != "" && dateSelect.value != "" && paradeChoice != "" ){
          console.log('done');
          document.getElementById('DateEnter').classList.remove('disabled');
          document.getElementById('DateEnter').classList.add('teal');

        }
        else {
          console.log('selection undone');
        }
      }


      document.getElementsByClassName("datepick")[0].addEventListener('click',checkFillDate);
      dateSelect.addEventListener('click',checkFillDate);
      parChoiceDrop.addEventListener('change',checkFillDate);


      var dropSelect = $('.datepick').dropdown('get value');

      
      var datePickEntSegment = document.getElementById('DatePickEnter');

      //can use the below to add popup next time
      datePickEntSegment.addEventListener('click',function(){
        console.log('error msg');

      })
      var datePickEntBtn = document.getElementById('DateEnter');
      datePickEntBtn.addEventListener('click',UpdateBackUrl);


      function UpdateBackUrl(){

        var dropSelect = $('.datepick').dropdown('get value');

        var datepickerValue = document.getElementById("MyDate").value;
        var paradeChoice = document.getElementById('ParadeChoice').value;

        if ( dropSelect == "false"){
          location.assign("http://localhost:8000/home/parade/" + "?date=" + datepickerValue + "&time_of_day=" + paradeChoice) ;

        }
        else {
          location.assign("http://localhost:8000/home/parade/" + "?date=" + datepickerValue + "&time_of_day=" + paradeChoice + "&create=" + dropSelect ) ;

        }
        

        
      }


    //Elements after picking parade from DatePicker
    
      var urlNow = window.location.search;
      console.log(urlNow);
      
      
      if (urlNow != "") {
        console.log("url live");
        document.getElementById("OverviewSearch").classList.remove('disabled');
        document.getElementById("LayoutBtn").classList.remove('disabled');
        document.getElementById("AddCardToggle").classList.remove('disabled');

      }

      else {
        console.log("close document none print cards")
      
      }
  
    </script>


    <!-- For Add Card Dimmer  -->
    <script>

      var addSaveBtn = document.getElementById('AddCardSave');
      var selectStatus = document.getElementById('Status');

      var selectStatusVal = document.getElementById('Status').value;

      function ToggleCardSaveBtn(selectStatusVal){

        var addSaveBtn = document.getElementById('AddCardSave');
        var selectStatus = document.getElementById('Status');

        var selectStatusVal = document.getElementById('Status').value;

        

        if (selectStatusVal == "NIL" ) {
          console.log('NIL choices selected');
          addSaveBtn.classList.remove("teal");
          addSaveBtn.classList.add("disabled");
          
        }
        
      
        else if (selectStatusVal == "" ) {
          console.log('NIL choices selected');
          addSaveBtn.classList.remove("teal");
          addSaveBtn.classList.add("disabled");
        }

        else {
          addSaveBtn.className = "ui teal button";
        }
      }

      
      selectStatus.addEventListener('change',ToggleCardSaveBtn);
      

      // <!--Reset Cancel Button-->
      function resetInput(value) {
        var selectStatusVal = document.getElementById('Status').value;
        selectStatusVal = "";
        $('form').form('clear');
      }

      var cancelBtn = document.getElementById("AddCardCancel");
      cancelBtn.addEventListener('click', resetInput);

    </script>


    <!-- Search function -->
    <script>

      var contentCards = [
        { title: 'Name 1' ,id: '1' },
        { title: 'United Arab Emirates' },
        { title: 'Afghanistan' },
        { title: 'Antigua' },
        { title: 'Bulgaria' },
        { title: 'Bahrain' },
        { title: 'Burundi' }
        // etc
        ];


      $('.overSearch')
        .search({
          source: contentCards ,

          searchFields   : [
            'title'
          ],
          fullTextSearch: false , 

          onSelect: function checkSearchVal(result){
            // var cardSearch = document.getElementById('searchCards').value;
            // console.log(cardSearch);

            console.log(result);

          }          
        })      
      ;
      
      // function checkSearchVal(){
      //   var cardSearch = document.getElementById('searchCards').value;
      // ;
      // console.log(cardSearch);

      // }
      
      // document.getElementsByClassName('overSearch')[0].addEventListener('change',checkSearchVal);
      
      
      


    </script>

    <!--NExt step is to get content from DB personnel-->
    <script>
      var contentNameDB = [
        { title: 'Sa La Kau' ,id: '1' },
        { title: 'United Arab Emirates', rank: '3SG' },
        { title: 'Afghanistan' },
        { title: 'Antigua' },
        { title: 'Bulgaria' },
        { title: 'Bahrain' },
        { title: 'Burundi' }
        // etc
        ];


      $('#AddNewCardSearch')
        .search({
          source: contentNameDB ,

          searchFields   : [
            'title',
            'id',
            'rank'
          ],
          fullTextSearch: false , 

          onSelect: function checkACSearchVal(result){
            // var cardSearch = document.getElementById('searchCards').value;
            // console.log(cardSearch);

            console.log(result);
            document.getElementById('CardSearchInput').value = result.title ;
            var a = document.getElementById('CardSearchInput').value ; 
            console.log(a);
          }          
        })      
      ;
    </script>


    <!-- Edit Card button and Delete dimmer--> <!--Do not fucking touch this -->
    <script>

      var perEdit = document.getElementsByClassName('IndivEdit');
      var perCard = document.getElementsByClassName('personnel-card');
      var perName = document.getElementsByClassName('PersonName');
      var perRank = document.getElementsByClassName('PersonRank');
      var perPlatoon = document.getElementsByClassName('PersonPlatoon');
      var perRemarks = document.getElementsByClassName('PersonDesc');
      var perReason = document.getElementsByClassName('PersonReason');

      var perDelete = document.getElementsByClassName('IndivDelete');
      var deleteDim = document.getElementsByClassName('DeleteDim');

      var perDBID = document.getElementsByClassName('IndivDBID');
      



      var EachCard = [] ;
      var EditBtn = [] ;
      var EachName = [] ;
      var DeleteBtn = [] ;
      var deleteDimIdList = [] ;

      for (var i = 0; i < perEdit.length; i++) {
          //This block of code appends the id of cards to have indiv id
          perEdit[i].id = "indivEdit" + i ;
          perDelete[i].id = "indivDelete" + i;
          deleteDim[i].id = "deleteDim" + i;
          perCard[i].id = "indivCard" + i ;
          perName[i].id = "personName" + i ;
          perRank[i].id = "personRank" + i ;
          perPlatoon[i].id = "personPlatoon" + i ;
          perRemarks[i].id = "personRemarks" + i ;
          perReason[i].id = "personReason" + i ;
          perDBID[i].id = "indivDBID" + i ;

          //this adds it to the arr above for retrieval
          EachCard[i] = perCard[i].id;
          EditBtn[i] = perEdit[i].id;
          EachName[i] = perName[i].id;
          DeleteBtn[i] = perDelete[i].id;
          deleteDimIdList[i] = deleteDim[i].id;

      }

      var currentRemarks = [];
      var currentSelection = [];
      function changeDim(){
          var CardNumber = String(this.id).slice(9,10);

          

          var IdOfName = "personName" + CardNumber;
          var IdOfRank = "personRank" + CardNumber;
          var IdOfPlatoon = "personPlatoon" + CardNumber;
          var IdOfRemarks = "personRemarks" + CardNumber;
          var IdOfReason = "personReason" + CardNumber;

          var IdOfDBID = "indivDBID" + CardNumber;

          
          


          
          var a = document.getElementById(IdOfName).innerHTML;
          var b = document.getElementById(IdOfRank).innerHTML;
          var c = document.getElementById(IdOfPlatoon).innerHTML;
          var d = document.getElementById(IdOfRemarks).innerHTML;
          currentRemarks[0] = d;

          var e = document.getElementById(IdOfReason).getElementsByTagName("a")[0].innerText;
          currentSelection[0] = e ;

          var f = document.getElementById(IdOfDBID).innerHTML;
          var intID = parseInt(f);
          console.log(intID);




          document.getElementById('DimName').innerHTML = a ;
          document.getElementById('DimRank').innerHTML = b ;
          document.getElementById('DimPlatoon').innerHTML = c ;
          document.getElementById('DimRemarks').value = d ;
          $('#DimReason').dropdown(
            'set selected', e
          );

          // To send flag for edit,hidden inputs have class DimDB so indexing is used

          document.getElementsByClassName('DimDB')[0].value = intID ;
          document.getElementsByClassName('DimDB')[1].value = 1 ;
          

          

          function removeTextAreaWhiteSpace() {
            var myTxtArea = document.getElementById('DimRemarks');
            myTxtArea.value = myTxtArea.value.replace(/^\s*|\s*$/g,'');
            }

          removeTextAreaWhiteSpace();
          
        }

      
      //Confirm Delete

      var delCardConfirm = document.getElementsByClassName('DelCardConfirm');
      var delDBID = document.getElementsByClassName('DimDelId');

      // var delDBIDlist = [];

      for (var i = 0; i < perEdit.length; i++) {

        delCardConfirm[i].id = "DelCardYes" + i;

        delDBID[i].id = "DelDBID" + i ; 

      }



      function confirmDelete(){
        var CardNumber = String(this.id).slice(11,12);
        // console.log(CardNumber);

        var IdOfDBID = "indivDBID" + CardNumber;

        var absID = document.getElementById(IdOfDBID).innerHTML;
        var intAbsID = parseInt(absID);
        // console.log(intAbsID);

        document.getElementById('DelDBID' + CardNumber).value = intAbsID ;

        $('#deleteDim'+CardNumber).dimmer("show");

      

      }

      //Adding functions to each button of each card
      for (var i = 0; i < EachCard.length; i++) {
        var number = i ;
        document.getElementById(EditBtn[i]).addEventListener('click',changeDim)
        document.getElementById(DeleteBtn[i]).addEventListener('click',confirmDelete)
               
      }

      //Check for changes to enable save button
      function checkChange(){
        var saveBtn = document.getElementById('EditCardSave');
        var selectReason = document.getElementById('DimReason');

        var remarkText = document.getElementById('DimRemarks');

        var remarkcopy = "" ;
        remarkcopy = remarkText.value.replace(/^\s*|\s*$/g,'');

        var currentRemark = currentRemarks[0]
        currentRemark = currentRemark.replace(/^\s*|\s*$/g,'');

        var dimDropVal = $('#DimReason').dropdown(
            'get value'
          );

          console.log(remarkText.value);
          
        if (currentSelection[0] == dimDropVal && currentRemark == remarkcopy) {
          console.log('nochange');
          saveBtn.classList.add('disabled');
          saveBtn.classList.remove('teal');

        }
        else {
          console.log('changed');
          saveBtn.classList.remove('disabled');
          saveBtn.classList.add('teal');
          
        }
      }

      var saveBtn = document.getElementById('EditCardSave');
      var selectReason = document.getElementById('DimReason');
      selectReason.addEventListener('change',checkChange);
      var remarkText = document.getElementById('DimRemarks');
      remarkText.addEventListener('input',checkChange);

      
      
    </script>



    <!-- Scripts for dashboard item and functions -->  
    <script>
      // For showing of personnel View
      
      var InfoAddPerBtn = document.getElementById('InfoAddPer');
      if (InfoAddPerBtn){
        InfoAddPerBtn.addEventListener('click',InfoAddPerPressed);
      }

      function InfoAddPerPressed(){
       window.localStorage.setItem('AddPerPressed', 'True');
      }

      var dashboardPerViewLink = document.getElementById('DashPerView');
      var localStr = window.localStorage.getItem('AddPerPressed');
      var localStrAfterAdd = window.localStorage.getItem('AddedPerson');


      //Checks localstorage to know what to display
      $('document').ready(function(){
        if (localStr == 'True'){
          launchPerView();
        }
        else if (localStrAfterAdd == 'True'){
          launchPerView();

        }
        window.localStorage.clear();

        
      });

      function launchPerView(){

        document.getElementById("PersonnelViewer").classList.remove('hidden');
        
        document.getElementById("DashWidgets").classList.add('hidden');

      }
      dashboardPerViewLink.addEventListener('click',launchPerView);

      function dashboardBack(){
        document.getElementById("PersonnelViewer").classList.add('hidden');
        // Hide all the dashboard cards and display Personnel View
        // On clicking back or breadcrumb to dashboard, hide per view and show usual cards
        document.getElementById("DashWidgets").classList.remove('hidden');
      }
      document.getElementById("PerViewBack").addEventListener('click',dashboardBack);


    

      // For Add Personnel
    
      var PersonnelSaveBtn = document.getElementById('AddPersonnelSave');
      var nameInput = document.getElementById('personName');
      var nameInputVal = nameInput.value;

      var selectRank = document.getElementById('personRank');
      var selectRankVal = selectRank.value;

      var selectPlatoon = document.getElementById('personPlatoon');
      var selectPlatoonVal = selectPlatoon.value;

      function TogglePersonnelSaveBtn(nameInputVal, selectRankVal, selectPlatoonVal){

        var PersonnelSaveBtn = document.getElementById('AddPersonnelSave');
        var nameInput = document.getElementById('personName');
        var nameInputVal = nameInput.value;

        var selectRank = document.getElementById('personRank');
        var selectRankVal = selectRank.value;

        var selectPlatoon = document.getElementById('personPlatoon');
        var selectPlatoonVal = selectPlatoon.value;

        console.log('tog');
        console.log(nameInputVal);
        if (nameInputVal == "" ) {
          console.log('Form undone');
          PersonnelSaveBtn.classList.remove("teal");
          PersonnelSaveBtn.classList.add("disabled");
          
        }

        else if (selectRankVal == ""){
          console.log('Form undone');
          PersonnelSaveBtn.classList.remove("teal");
          PersonnelSaveBtn.classList.add("disabled");
          
        }

        else if (selectPlatoonVal == ""){
          console.log('Form undone');
          PersonnelSaveBtn.classList.remove("teal");
          PersonnelSaveBtn.classList.add("disabled");
        }
        
      
        else {
          PersonnelSaveBtn.className = "ui teal button";
        }
      }

      nameInput.addEventListener('input',TogglePersonnelSaveBtn);
      selectRank.addEventListener('change',TogglePersonnelSaveBtn);
      selectPlatoon.addEventListener('change',TogglePersonnelSaveBtn);


      function refreshPer(){
        window.localStorage.setItem('AddedPerson', 'True');
        
      }

      PersonnelSaveBtn.addEventListener('click',refreshPer);

      // <!--Reset Cancel Button-->
      function resetInput(value) {

        var nameInputVal = document.getElementById('personName').value;
        nameInputVal = "" ;

        var selectRankVal = document.getElementById('personRank').value;
        selectRankVal = "";

        var selectPlatoonVal = document.getElementById('personPlatoon').value;
        selectPlatoonVal = "";
        $('form').form('clear');

        PersonnelSaveBtn.classList.remove("teal");
        PersonnelSaveBtn.classList.add("disabled");

        
      }

      var cancelBtn = document.getElementById("AddPersonnelCancel");
      cancelBtn.addEventListener('click', resetInput);





      // Delete Personnel
      var allPersonnel = document.getElementsByClassName('personnelCard');
      var allDeleteBtn = document.getElementsByClassName('deletePer');
      var allDeleteDim = document.getElementsByClassName('DeleteDimPer');

      var allHiddenDBID = document.getElementsByClassName('personnelDBIDb');
      var allPersonID = document.getElementsByClassName('personDBID');

      var allDelNo = document.getElementsByClassName('DelPersonNo');

      var delBtnNum = [];
      
      function deleteConfirm(){
        console.log('delete');
        var idOfClickedDelBtn = this.id ;
        var perCardNum = idOfClickedDelBtn.slice(15,16);
        delBtnNum[0] = perCardNum;

        var DBID = document.getElementById('personnelDBIDa'+ perCardNum);
        var formDBID = document.getElementById('hiddenformDBID'+ perCardNum);
        formDBID.value = DBID.innerHTML;
        // console.log(document.getElementById('hiddenformDBID'+ i).value);
        
        
        $('#personnelDim' + perCardNum).dimmer('show');
      }

      function deleteNo(){
        var perCardNum = delBtnNum[0];
        $('#personnelDim' + perCardNum).dimmer('hide');
      }

      
      
      for (var i = 0; i < allDeleteBtn.length; i++) {
        allPersonnel[i].id = 'personnelCard' + i ; 
        allDeleteBtn[i].id = 'personnelDelete' + i ;
        allDeleteDim[i].id = 'personnelDim' + i ;
        allPersonID[i].id = 'personnelDBIDa' + i ;
        allHiddenDBID[i].id = 'hiddenformDBID' + i ;

        allDeleteBtn[i].addEventListener('click',deleteConfirm);

        allDelNo[i].addEventListener('click',deleteNo);

      }

    </script>

    
   

</body>

</html>
