{% extends "attendance/MainHTML/base.html" %}



{% block content %}

<!--Add Personnel Popup-->
{% include 'attendance/Dashboard-Partials/_AddPersonnelDim.html/' %}

<!--Edit Personnel Popup-->
{% include 'attendance/Dashboard-Partials/_ExpandPersonnelModal.html/' %}



<!--Header and Menu-->
{% include 'attendance/Dashboard-Partials/_HeaderAndMenubar.html/' %}


<!--Main Content and Widgets-->
{% include 'attendance/Dashboard-Partials/_MainWidgetContents.html/' %}



<!-- Footer -->
{% include 'attendance/Home-Partials/_Footer.html/' %}

<!--Scripts specific to dash-->
<script>
    var ListPersonnelDash = {{ all_personnel_search|safe }};
        $('.pplSearch').search({
        type: 'category',
          source: ListPersonnelDash ,

          searchFields   : [
            
            'description',
            'id',
            'category',
            'title'
            
          ],

          onSelect: function checkSearchRes(result){
            
            $('.pplSearch').search('set value',result.id);
            var idRes = document.getElementById('searchPpl').value;
            console.log(idRes);
            var allPplDetail = document.getElementsByClassName('personnelCard');
            var allPplPerID = document.getElementsByClassName('personDBID');

            for (var i = 0; i < allPplDetail.length; i++){
              allPplDetail[i].style.display = "none" ;
              if (parseInt(allPplPerID[i].innerHTML) == idRes){
                allPplDetail[i].style.display = 'flex';
              }
              
            }
            
                      
          }
      })
      ;

      document.getElementById('pplSearch').addEventListener('input',function(){
        //to remove display=none
        var allPplDetail = document.getElementsByClassName('personnelCard');
        for (var i = 0; i < allPplDetail.length; i++){
              
              allPplDetail[i].style.display = "flex" ;
              
        }
        
      });
</script>

{% endblock content %}
