{% extends "attendance/MainHTML/base.html" %}



{% block content %}

<!--Add Personnel Popup-->
{% include 'attendance/Dashboard-Partials/_AddPersonnelDim.html/' %}

<!--Edit Personnel Popup-->
{% include 'attendance/Dashboard-Partials/_ExpandPersonnelModal.html/' %}



<!--Header and Menu-->
{% include 'attendance/Dashboard-Partials/_HeaderAndMenubar.html/' %}


<!--Main Content and Widgets-->
{% include 'attendance/Dashboard-Partials/_MainWidgetContents.html/' %}



<!-- Footer -->
{% include 'attendance/Home-Partials/_Footer.html/' %}


{% endblock content %}
