{% extends "attendance/MainHTML/base.html" %}

{% block content %}
<!---------------------------------Body---------------------->


<!--Dimmers, Misc-->
<!-- Dimmer for whole page-->
{% include 'attendance/Home-Partials/_DimmerAddCard.html/' %}

{% include 'attendance/Home-Partials/_DimmerEDCard.html/' %}



  
<!-----------------------Main Body---------------------->




<!--Headers and Date Pickers-->
{% include 'attendance/Home-Partials/_HeaderAndDate.html/' %}

<!-- Tabs & Cards -->
{% include 'attendance/Home-Partials/_TabsAndCards.html/' %}


<!-- Banner for create state -->
{% include 'attendance/Home-Partials/_ParadeMakeBanner.html/' %}

<!-- Infographics for Users-->
{% include 'attendance/Home-Partials/_Infographic.html/' %}

<!--Home Page Bottom Footer-->
<!-- Footer -->
{% include 'attendance/Home-Partials/_Footer.html/' %}
 


<!--------------------------------Body Close----------------------->

{% endblock content %}
