{% extends "attendance/MainHTML/base.html" %}

{% block content %}
<!---------------------------------Body---------------------->

<!--Error Handling-->



<!--Dimmers, Misc-->
<!-- Dimmer for whole page-->
{% include 'attendance/Home-Partials/_DimmerAddCard.html/' %}

{% include 'attendance/Home-Partials/_DimmerEDCard.html/' %}

{% include 'attendance/Home-Partials/_DimmerDiscrep.html/' %}

{% include 'attendance/Home-Partials/_DimmerRepeatEntry.html/' %}

{% include 'attendance/Home-Partials/_DimmerClearParade.html/' %}



  
<!-----------------------Main Body---------------------->




<!--Headers and Date Pickers-->
{% include 'attendance/Home-Partials/_HeaderAndDate.html/' %}

<!-- Tabs & Cards -->
{% include 'attendance/Home-Partials/_TabsAndCards.html/' %}


<!-- Banner for create state -->
{% include 'attendance/Home-Partials/_ParadeMakeBanner.html/' %}

<!-- Infographics for Users-->
{% include 'attendance/Home-Partials/_Infographic.html/' %}

<!--Home Page Bottom Footer-->
<!-- Footer -->
{% include 'attendance/Home-Partials/_Footer.html/' %}
 

<!--Script for home-->
<script>
    

      //dynamic from context
      
        var ListPersonnel = {{ personnel|safe }};
        console.log(ListPersonnel);

        var ListAbsPar = {{ absentees|safe }};
      

      $('.overSearch')
        .search({
          type: 'category',
          source: ListAbsPar ,

          searchFields   : [
            
            'description',
            'id',
            'category',
            'title'
            
          ],

          onSelect: function checkSearchVal(result){
            
            $('.overSearch').search('set value',result.id);
            var idRes = document.getElementById('searchCards').value;
            console.log(idRes);
            var allCards = document.getElementsByClassName('personnel-card');
            var allCardAbsID = document.getElementsByClassName('IndivDBID');
            var allCardPerID = document.getElementsByClassName('IndivDBIDPer');

      //Just require the ID issue to be settled such that an if statement for equality can be written
      // for eg, var xx = absenceid.innerHTML .... xx

            for (var i = 0; i < allCards.length; i++){
              
              allCards[i].style.display = "none" ;
              if (parseInt(allCardPerID[i].innerHTML) == idRes){
                allCards[i].style.display = 'flex';
              }
              
            }
            
                      
          }


        })      
      ;

      
      document.getElementById('OverviewSearch').addEventListener('input',function(){
        //to remove display=none
        var allCards = document.getElementsByClassName('personnel-card');
        for (var i = 0; i < allCards.length; i++){
              
              allCards[i].style.display = "flex" ;
              
        }
        
      });

      $('.AddNewCardSearch').search({
        type : 'category' ,
        source: ListPersonnel ,

        searchFields   : [
        'description',
        'id',
        'category',
        'title'
          
        ],

        onSelect: function checkSearchVal(result){
          // var cardSearch = document.getElementById('searchCards').value;
          // console.log(cardSearch);
          $('#AddNewCardSearch').search('set value',result);
          document.getElementById('ResultID').value = result.id ;

          console.log(result.title);
          console.log(document.getElementById('ResultID').value);
        }}
      );      

      
</script>

<!--Discrepancy on Home-->
<script>
  
  console.log('run');
  if ("{{ discrepancy }}" == "True"){
    console.log('discrep Tru');
    //Popup modal 
    $('#discrepPop').modal('show');
    $('#discrepPop').modal('setting', 'closable', false);

    
  }
  else if ("{{ discrepancy }}" == "False"){
    console.log('No Discrepancies, code will run as usual no popups');

  }

  function submitKeepCurr(){
    document.getElementById('keepcurr').value = 1 ;
    
  }

  document.getElementById('NoChange').addEventListener('click',submitKeepCurr);

  function hideDiscrepPopup(){
    document.getElementById('keepcurr').value = 0 ;
    $('#discrepPop').modal('hide');
  }
  document.getElementById('YesChange').addEventListener('click',hideDiscrepPopup);
</script>

<!-- Repeat Entry Checker -->
<script>
  if ( "{{ repeat_entry }}" == "True" ) {
    console.log('repeat');
  }

  else if ( "{{ repeat_entry }}" == "False" ) {
    console.log('no repeat');
  }

  else {
    console.log('no repeat');

  }

</script>

<!-- Clear Parade -->
<script>
  function ClearParade(){
    $('#ClearParadeMod').modal('show');
  }
    
  $('#ClearParadeMod').modal('setting', 'closable', false);

  document.getElementById('closeClearParade').addEventListener('click',function(){
    $('#ClearParadeMod').modal('hide');
  })

  document.getElementById('confirmClearParade').addEventListener('click',function(){
    $('#ClearParadeMod').modal('hide');
  })

  document.getElementById('DeleteParade').addEventListener('click',ClearParade);
</script>
<!--------------------------------Body Close----------------------->

{% endblock content %}
