
#HomeHeader {
  font-size: 60px;
  
}





.Default-Inactive {
  display: none;
}

.active {
  display: block;
}

.position {
  display: block;
  float: right;
}


#DatePickHead {
  padding: 8.5px;
}
#DatePickSelect {
  margin: 0px;
}

#MyDate {
  margin: 0px;
  padding: 8px;
  background-color:none;
  border: grey;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}

#DatePickDropdown , #DatePickEnter , #DatePickSelectSegment {
  padding: 0px ;
  border: none;
  
}



